.light-theme .blue_theme,
.light-theme .purple_theme,
.light-theme .orange_theme,
.light-theme .green_theme,
.light-theme .aqua_theme,
.light-theme .cyan_theme,
.dark-theme {
  @import "./drawer";
  @import "./checkbox";
  @import "./radio";

  .topbar {
    background-color: $toolbar;
  }
}

.light-theme,
.dark-theme {
  @import "./buttons";
  @import "./form";
  @import "./card";
  @import "./typography";
  @import "./dropdown";
}

@import "./borderColor";
@import "./table";
@import "./list";

.mat-mdc-form-field-infix {
  --mat-form-field-container-height: 54px !important;
}

.mat-badge-medium .mat-badge-content {
  width: 19px;
  height: 20px;
  font-size: 13px;
}

.mat-badge-medium.mat-badge-overlap .mat-badge-content {
  margin: -9px;
}
