<div class="subscription-package-dialog">
  <div class="my-2 p-0">
    <h2 mat-dialog-title>Account Details</h2>
  </div>
  <form [formGroup]="accountForm" class="mx-3">
    <div class="flex flex-row">
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="fullName" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          placeholder="Phone Number"
          formControlName="phoneNumber"
        />
      </mat-form-field>
    </div>
    <div class="flex flex-row">
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Is Locked Out</mat-label>
        <input
          matInput
          placeholder="Is Locked Out"
          formControlName="isLockedOut"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Is Enable</mat-label>
        <input matInput placeholder="Is Enable" formControlName="isEnabled" />
      </mat-form-field>
    </div>
    <div class="flex flex-row">
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Gender</mat-label>
        <input matInput placeholder="Gender" formControlName="gender" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Role</mat-label>
        <input matInput placeholder="Role" formControlName="roles" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Partner Name</mat-label>
        <input
          matInput
          placeholder="Partner Name"
          formControlName="partnerName"
        />
      </mat-form-field>
    </div>
  </form>
</div>
