<div
  class="pt-14 pb-24 bg-white px-4 min-[1025px]:border-t min-[1025px]:border-solid min-[1025px]:border-gray-200 flex"
>
  <!-- Sidebar - Danh sách tin nhắn -->
  <app-chat-sidebar
    [onlineUsers]="onlineUsers"
    (userSelected)="onUserSelected($event)"
    [messages]="messages"
    class="min-[1025px]:w-1/4 w-full"
  ></app-chat-sidebar>

  @if (onlineUsers.length > 0) {
  <!-- Cửa sổ chat chính -->
  <app-chat-window
    [selectedUser]="selectedUser"
    [messages]="messages"
    [notifyTyping]="notifyTyping"
    [notifyTypingMessage]="notifyTypingMessage"
    class="min-[1025px]:flex-1 min-[1025px]:flex hidden"
  ></app-chat-window>

  <!-- Thông tin nhà cung cấp -->
  <app-supplier-info
    [selectedUser]="selectedUser"
    [supplier]="supplier"
    class="min-[1025px]:w-1/5 min-[1025px]:block border-l hidden"
  ></app-supplier-info>
  }@else {
  <div class="flex-1 flex-col bg-white px-6 py-4 space-y-4 h-full">
    <div class="flex justify-center text-center flex-col">
      <div class="mb-4">
        <img
          src="/assets/images/svgs/email.svg"
          alt=""
          class="w-32 h-32 mx-auto"
        />
      </div>
      <div class="mb-4">
        <p class="font-semibold text-base">Nothing to see here yet</p>
      </div>
      <div class="mb-6">
        <p>
          Messages from venues, suppliers, and wedding forum members will live
          here.
        </p>
      </div>
      <div>
        <button
          mat-stroked-button
          color="accent"
          style="padding: 22px"
          routerLink="/suppliers"
        >
          Find suppliers in your area
        </button>
      </div>
    </div>
  </div>
  }
</div>
