<div
  class="flex pt-14 pb-24 bg-white px-4 border-t border-solid border-gray-200 md:flex max-[667px]:hidden"
>
  <!-- Sidebar - Danh sách tin nhắn -->
  <app-chat-sidebar
    [onlineUsers]="onlineUsers"
    (userSelected)="onUserSelected($event)"
    class="w-1/4 max-[1024px]:w-full"
  ></app-chat-sidebar>

  @if (onlineUsers.length > 0) {
  <!-- Cửa sổ chat chính -->
  <app-chat-window
    [selectedUser]="selectedUser"
    [messages]="messages"
    class="flex-1 max-[1024px]:hidden"
  ></app-chat-window>

  <!-- Thông tin nhà cung cấp -->
  <app-supplier-info
    [selectedUser]="selectedUser"
    [supplier]="supplier"
    class="w-1/5 border-l max-[1024px]:hidden"
  ></app-supplier-info>
  }@else {
  <div class="flex-1 flex-col bg-white px-6 py-4 space-y-4 h-full">
    <div class="flex justify-center text-center flex-col">
      <div class="mb-4">
        <img
          src="/assets/images/svgs/email.svg"
          alt=""
          class="w-32 h-32 mx-auto"
        />
      </div>
      <div class="mb-4">
        <p class="font-semibold text-base">Nothing to see here yet</p>
      </div>
      <div class="mb-6">
        <p>
          Messages from venues, suppliers, and wedding forum members will live
          here.
        </p>
      </div>
      <div>
        <button
          mat-stroked-button
          color="accent"
          style="padding: 22px"
          routerLink="/suppliers"
        >
          Find suppliers in your area
        </button>
      </div>
    </div>
  </div>
  }

  <div
    class="flex py-10 bg-white px-4 border-t border-solid border-gray-200 md:hidden max-[667px]:flex"
  >
    @if (status === 0) {
    <!-- Sidebar - Danh sách tin nhắn -->
    <app-chat-sidebar
      [onlineUsers]="onlineUsers"
      class="w-full border-r"
    ></app-chat-sidebar>
    } @if (status === 1) {
    <!-- Cửa sổ chat chính -->
    <app-chat-window
      [selectedUser]="selectedUser"
      [messages]="messages"
      class="flex-1"
    ></app-chat-window>
    } @if (status === 2) {
    <!-- Thông tin nhà cung cấp -->
    <app-supplier-info
      [selectedUser]="selectedUser"
      class="w-full border-l"
    ></app-supplier-info>
    }
  </div>
</div>
