<div
  class="pb-16 bg-white min-[1025px]:border-t min-[1025px]:border-solid min-[1025px]:border-gray-200 flex"
  [ngClass]="{ 'px-4, pt-14': statusPage === 0, 'pt-6': statusPage === 1 }"
>
  <!-- Sidebar - Danh sách tin nhắn -->
  @if (statusPage == 0) {
  <app-chat-sidebar
    [onlineUsers]="onlineUsers"
    (userSelected)="onUserSelected($event)"
    [messages]="messages"
    [selectedUser]="selectedUser"
    [screenWidth]="screenWidth"
    class="min-[1025px]:w-1/4 w-full"
  ></app-chat-sidebar>
  } @if (onlineUsers.length > 0) {
  <!-- Cửa sổ chat chính -->
  <app-chat-window
    [selectedUser]="selectedUser"
    [messages]="messages"
    [notifyTyping]="notifyTyping"
    [notifyTypingMessage]="notifyTypingMessage"
    [statusPage]="statusPage"
    class="min-[1025px]:flex-1 min-[1025px]:flex"
    [ngClass]="{
      hidden: statusPage === 0,
      'w-full overflow-hidden': statusPage === 1
    }"
  ></app-chat-window>

  <!-- Thông tin nhà cung cấp -->
  <app-supplier-info
    [selectedUser]="selectedUser"
    [supplier]="supplier"
    class="min-[1025px]:w-1/5 min-[1025px]:block border-l hidden"
  ></app-supplier-info>
  }@else {
  <div
    class="flex-1 flex-col bg-white py-4 space-y-4 h-full"
    [ngClass]="{ 'px-6': statusPage === 0,}"
  >
    <div class="flex justify-center text-center flex-col">
      <div class="mb-4">
        <img
          src="/assets/images/svgs/email.svg"
          alt=""
          class="w-32 h-32 mx-auto"
          loading="lazy"
        />
      </div>
      <div class="mb-4">
        <p class="font-semibold text-base">Chưa có tin nhắn nào</p>
      </div>
      <div class="mb-6">
        <p>
          Tin nhắn từ địa điểm tổ chức, nhà cung cấp đám cưới sẽ được đăng tải
          tại đây.
        </p>
      </div>
      <div>
        <button
          mat-stroked-button
          color="accent"
          style="padding: 22px"
          routerLink="/suppliers"
        >
          Tìm nhà cung cấp ngay
        </button>
      </div>
    </div>
  </div>
  }
</div>
