<mat-card>
  <mat-card-content>
    <div class="flex align-items-center col-lg-12">
      <div class="flex justify-start col-lg-8">
        <mat-card-title class="text-2xl">Category detail</mat-card-title>
      </div>
      <div class="flex justify-end mx-4 my-5 col-lg-4 mt-4 md:mt-0">
        <button
          mat-raised-button
          color="warn"
          class="flex items-center mx-1 p-24 text-white text-sm font-medium shadow-md transition-colors duration-200"
          (click)="btnReturnListPage()"
        >
          <mat-icon class="mr-2">reply</mat-icon>
          Back
        </button>
        @if(categoryId != null){
        <button
          mat-raised-button
          class="flex items-center text-white p-24 text-sm font-medium rounded-lg px-4 py-3 shadow-md transition-colors duration-200"
          color="primary"
          type="submit"
          (click)="btnCreateNewCategory()"
        >
          <mat-icon class="mr-2">task_alt</mat-icon>
          Update
        </button>
        }
      </div>
    </div>
    <form [formGroup]="categoryForm">
      <mat-card-subtitle
        class="mat-subtitle-3 text-1xl f-s-14 f-w-600 m-b-12 d-block ml-2"
        style="color: black"
      >
        Category name
      </mat-card-subtitle>

      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input
          matInput
          formControlName="name"
          required
          [class.is-invalid]="
            categoryForm.get('name')?.invalid &&
            categoryForm.get('name')?.touched
          "
        />
        @if(isInvalid('name')){
        <mat-error>
          @if(categoryForm.get('name')?.errors?.['required']){
          <span> Category name is required. </span>
          } @else if (categoryForm.get('name')?.errors?.['minlength']) {
          <span> Category name must be at least 6 characters. </span>
          } @else if (categoryForm.get('name')?.errors?.['maxlength']){
          <span> Category name cannot exceed 100 characters. </span>
          }
        </mat-error>
        }
      </mat-form-field>

      <mat-card-subtitle
        class="mat-subtitle-3 text-1xl f-s-14 f-w-600 m-b-12 ml-2 d-block"
        style="color: black"
        >Description</mat-card-subtitle
      >
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input
          matInput
          formControlName="description"
          required
          [class.is-invalid]="
            categoryForm.get('description')?.invalid &&
            categoryForm.get('description')?.touched
          "
        />
        @if(isInvalid('description')){
        <mat-error>
          @if(categoryForm.get('description')?.errors?.['required']){
          <span> Category description is required. </span>
          } @else if (categoryForm.get('description')?.errors?.['minlength']) {
          <span> Category description must be at least 15 characters. </span>
          } @else if (categoryForm.get('description')?.errors?.['maxlength']){
          <span> Category description must not exceed 200 characters. </span>
          }
        </mat-error>
        }
      </mat-form-field>
    </form>
    <div class="hidden sm:block">
      <div class="flex justify-between gap-2 mt-4">
        <button
          mat-raised-button
          color="warn"
          class="flex items-center mx-1 p-24 text-white text-sm font-medium shadow-md transition-colors duration-200"
          (click)="btnReturnListPage()"
        >
          <mat-icon class="mr-2">reply</mat-icon>
          Back
        </button>
        @if(categoryId){
        <button
          mat-raised-button
          class="flex items-center text-white p-24 text-sm font-medium rounded-lg px-4 py-3 shadow-md transition-colors duration-200"
          color="primary"
          type="submit"
          (click)="btnCreateNewCategory()"
        >
          <mat-icon class="mr-2">task_alt</mat-icon>
          Update
        </button>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
