<mat-card appearance="outlined">
  <h3 class="f-s-16 f-w-600 mt-3 mx-3">Unblock account</h3>
  <mat-card-content>
    <p class="place-content-center">Do you want to unblock this account?</p>
    <div class="grid grid-cols-2 gap-4 place-content-between">
        <button mat-raised-button color="warn"
        class="flex items-center  text-white text-sm font-medium rounded-lg px-4 py-3 shadow-md transition-colors duration-200"
        (click)="btnCloseDialog()"
        >
        <mat-icon class="mr-2">key</mat-icon>
        Cancel
      </button>
      <button mat-raised-button color="primary"
        class="flex items-center  text-white text-sm font-medium rounded-lg px-4 py-3 mx-2 shadow-md transition-colors duration-200"
        (click)="btnUnblockAccount()"
        >
        <mat-icon class="mr-2">key</mat-icon>
        Unblock
      </button>
    </div>
  </mat-card-content>
</mat-card>
