<mat-card
  class="w-full h-[200px] relative overflow-hidden"
  [ngStyle]="{ 'background-color': !primaryImage ? ' rgba(0, 0, 0, 0.7)' : '' }"
  appearance="outlined"
>
  @if (primaryImage) {
  <img
    mat-card-image
    [src]="primaryImage"
    alt="Photo"
    class="w-full h-[140px] object-cover"
  />
  }

  <div
    class="absolute top-0 left-0 w-full h-[140px] flex justify-center items-center text-center px-2 overflow-hidden"
  >
    <span
      class="uppercase text-white font-semibold text-lg truncate"
      style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"
    >
      {{ this.supplier?.name }}
    </span>
  </div>

  <div
    class="flex justify-center items-center py-4 px-2 cursor-pointer hover:text-secondary"
    [routerLink]="['/suppliers/', this.supplier?.slug]"
  >
    Xem trang của tôi
  </div>
</mat-card>
<div class="menu-list mt-4">
  @for (item of menuItems; track $index) {
  <a
    [routerLink]="item.route"
    routerLinkActive="text-secondary font-semibold"
    class="menu-item cursor-pointer flex justify-between items-center py-3 border-b border-gray-200 hover:text-secondary transition-colors duration-200 rounded"
  >
    <div class="flex items-center">
      <img
        width="24"
        height="24"
        [src]="'assets/images/svgs/' + item.icon"
        alt="Business details"
        class="mr-3"
      />
      <span class="text-base">{{ item.title }}</span>
    </div>
    <span class="font-light mr-2">{{ item.count }}</span>
  </a>
  }
</div>
