<mat-card>
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-lg-4 m-t-10">
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            placeholder="Type to search..."
            (input)="onInputChange($event)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="w-100">
  <mat-card-content>
    <div
      class="col-12 d-flex align-items-center justify-content-center mb-5"
    ></div>
    <div class="table-responsive mt-20">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="w-100 text-nowrap"
        bgColor="white"
      >
        <ng-container matColumnDef="avatar">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="avatar"
          >
            Avatar
          </th>
          <td mat-cell *matCellDef="let account">
            <div class="d-flex align-items-center">
              @if(account.pictureUrl === null){
              <img
                alt="users"
                width="35"
                class="rounded-circle"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH-bmqm7mCI2OBNsFo6PDo9QD3NPzXnpn9vA&s"
              />
              } @else {
              <img
                alt="users"
                width="35"
                class="rounded-circle"
                src="{{ account.pictureUrl }}"
              />
              }
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="fullName"
          >
            Full name
          </th>
          <td mat-cell *matCellDef="let account">
            <span class="f-s-14">{{ account.fullName }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="email"
          >
            Email
          </th>
          <td mat-cell *matCellDef="let account">
            <span class="f-s-14">{{ account.email }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="phone"
          >
            Phone
          </th>
          <td mat-cell *matCellDef="let account">
            @if(account.phoneNumber !== null){
            <span class="f-s-14">{{ account.phoneNumber }}</span>
            } @else {
            <span class="f-s-14">-</span>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="gender"
          >
            Gender
          </th>
          <td mat-cell *matCellDef="let account">
            @if(account.phoneNumber !== null){
            <span class="f-s-14">{{ account.gender }}</span>
            } @else {
            <span class="f-s-14">-</span>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="role"
          >
            Role
          </th>
          <td mat-cell *matCellDef="let account">
            <span
              class="rounded f-w-600 p-6 p-y-4 f-s-12"
              [ngClass]="{
                'bg-yellow-100 text-yellow-500': account.roles[0] === 'ADMIN',
                'bg-light-success	text-success': account.roles[0] === 'SUPPLIER',
                'bg-light-error text-error': account.roles[0] === 'USER'
              }"
              [ngStyle]="
                account.roles[0] === 'ADMIN'
                  ? { border: '1px solid #f8c076' }
                  : account.roles[0] === 'SUPPLIER'
                  ? { border: '1px solid #4bd08b' }
                  : account.roles[0] === 'USER'
                  ? { border: '1px solid #fc4b6c' }
                  : {}
              "
            >
              {{ account.roles }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th class="f-s-16 f-w-600" mat-header-cell *matHeaderCellDef>
            Actions
          </th>
          <td mat-cell *matCellDef="let account">
            @if(account.roles[0] !== 'ADMIN'){
            <button
              mat-icon-button
              type="button"
              class="m-t-4"
              (click)="btnGetAccount(account.id)"
            >
              <mat-icon color="primary">
                <i-tabler
                  name="edit"
                  class="icon-20 d-flex align-items-center"
                ></i-tabler>
              </mat-icon>
            </button>
            @if(account.isLockedOut === false){
            <button
              mat-icon-button
              type="button"
              class="m-t-4"
              (click)="openBlockAccountDialog(account.id)"
            >
              <mat-icon color="warn">
                <i-tabler
                  name="trash"
                  class="icon-20 d-flex align-items-center"
                ></i-tabler>
              </mat-icon>
            </button>

            } @else {
            <button
              mat-icon-button
              type="button"
              class="m-t-4"
              (click)="openUnblockAccountDialog(account.id)"
            >
              <mat-icon color="success">
                <i-tabler
                  name="key"
                  class="icon-20 d-flex align-items-center"
                ></i-tabler>
              </mat-icon>
            </button>
            } }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="totalItemCount"
      [pageSize]="pageSize"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
