<section class="py-8">
  <div class="container mx-auto">
    <div
      class="grid grid-cols-1 max-[667px]:grid-cols-2 md:grid-cols-4 gap-x-6 gap-y-10 py-8 px-8 rounded-lg mb-10 border border-[#d9d9d9] border-solid"
    >
      <div class="flex flex-col justify-center items-center text-center">
        <div class="flex items-center mb-1">
          <img src="/assets/images/svgs/email.svg" alt="Email" class="mr-3" />
          <span class="md:text-2xl text-xl text-[#222222] mt-[2px]">
            {{ requestPricingList.length }}
          </span>
        </div>
        <p class="md:text-base max-[667px]:text-sm">Yêu cầu báo giá</p>
        <p class="text-[#6c6c6c]">trong 12 tháng qua</p>
      </div>

      <div class="flex flex-col justify-center items-center text-center">
        <div class="flex items-center mb-1">
          <img
            src="/assets/images/svgs/review.svg"
            alt="Đánh giá"
            class="mr-3"
          />
          <span class="md:text-2xl text-xl text-[#222222] mt-[2px]">
            {{ supplier?.totalRating }}
          </span>
        </div>
        <p class="md:text-base max-[667px]:text-sm">Lượt đánh giá</p>
        <p class="text-[#6c6c6c]">trong 12 tháng qua</p>
      </div>

      <div class="flex flex-col justify-center items-center text-center">
        <div class="flex items-center mb-1">
          <img src="/assets/images/svgs/view.svg" alt="Lượt xem" class="mr-3" />
          <span class="md:text-2xl text-xl text-[#222222] mt-[2px]">
            {{ supplier?.view }}
          </span>
        </div>
        <p class="md:text-base max-[667px]:text-sm">Lượt xem hồ sơ</p>
        <p class="text-[#6c6c6c]">trong 12 tháng qua</p>
      </div>

      <div class="flex flex-col justify-center items-center text-center">
        <div class="flex items-center mb-1">
          <img src="/assets/images/svgs/vnd.svg" alt="Chi tiêu" class="mr-3" />
          <span class="md:text-2xl text-xl text-[#222222] mt-[2px]">0</span>
        </div>
        <p class="md:text-base max-[667px]:text-sm">Chi tiêu</p>
        <p class="text-[#6c6c6c]">trong 12 tháng qua</p>
      </div>
    </div>

    @if (supplier?.status !== statuses.APPROVED) {
    <div class="bg-[#e9f6f8] py-6 px-6 rounded-lg mb-10">
      <p class="text-base font-semibold mb-2">
        Thông tin doanh nghiệp của bạn đang được xác minh
      </p>
      <p class="mb-2">
        <span class="font-semibold">Nhà cung cấp đám cưới : </span>
        Sau khi Nhóm Nội dung của chúng tôi chấp thuận thông tin của bạn, danh
        sách của bạn sẽ được đăng tải.
      </p>
      <p>
        Nếu bạn có bất kỳ câu hỏi nào, vui lòng gửi email
        <a class="underline" href="mailto:bonheur.wedding.1910@gmail.com"
          >bonheur201&#64;gmail.com</a
        >
      </p>
    </div>
    }@else if (supplier?.status === statuses.REJECTED) {
    <div class="bg-[#fcf5eb] py-6 px-6 rounded-lg mb-10">
      <p class="text-base font-semibold mb-2">
        Chúng tôi rất tiếc nhưng Nhóm Nội dung của chúng tôi không thể xác thực
        doanh nghiệp của bạn.
      </p>
      <p class="mb-2">
        Chúng tôi đã gửi cho bạn một email giải thích lý do tại sao danh sách
        của bạn không thể được kích hoạt. Hãy đảm bảo bạn đã thêm ảnh chất lượng
        cao và mô tả doanh nghiệp!
      </p>
      <p>
        Nếu bạn có bất kỳ câu hỏi nào, vui lòng gửi email
        <a class="underline" href="mailto:bonheur.wedding.1910@gmail.com"
          >bonheur201&#64;gmail.com</a
        >
      </p>
    </div>
    }
    <div class="flex flex-wrap justify-between relative items-center mx-auto">
      <div class="flex flex-wrap w-full mb-[-24px]">
        <div class="min-[992px]:w-[75%] w-full px-[12px] mb-[24px]">
          <div
            class="px-4 py-10 border border-[#d9d9d9] border-solid rounded-lg mb-10"
          >
            <div class="flex flex-col justify-center items-center">
              <img
                width="100"
                height="100"
                src="/assets/images/svgs/sendMail.svg"
                alt="Enquiries"
                class="mb-6"
              />
              <p class="text-xl mb-4">
                Bạn vẫn chưa nhận được bất kỳ yêu cầu nào.
              </p>
              <p class="mb-6">Bạn muốn có nhiều yêu cầu báo giá hơn ?</p>
              <button mat-raised-button color="accent" style="padding: 20px">
                Nâng cấp
              </button>
            </div>
          </div>
          <div
            class="px-4 py-10 border border-[#d9d9d9] border-solid rounded-lg"
          >
            <div
              class="flex flex-col justify-center items-center text-center max-w-lg mx-auto"
            >
              <img
                width="100"
                height="100"
                src="/assets/images/svgs/rating.svg"
                alt="Enquiries"
                class="mb-6"
              />
              <p class="text-xl mb-4">Bạn vẫn chưa nhận được đánh giá nào!</p>
              <p class="mb-6">
                Đánh giá có ảnh hưởng rất lớn khi lựa chọn nhà cung cấp. Khuyến
                khích các cặp đôi trước đây của bạn để lại đánh giá về trải
                nghiệm của họ với bạn.
              </p>
              <button mat-raised-button color="accent" style="padding: 20px">
                Yêu cầu đánh giá
              </button>
            </div>
          </div>
        </div>
        <div
          class="min-[992px]:w-[25%] w-full px-[12px] mb-[24px] block max-[992px]:hidden"
        >
          <div
            class="px-4 py-8 border border-[#d9d9d9] border-solid rounded-lg mb-10"
          >
            <div class="mb-6 border-b border-[#d9d9d9] border-solid pb-4">
              <p class="font-semibold mb-4 text-xl">
                Tải xuống ứng dụng Bonheur for Business
              </p>
              <p>
                Quản lý khách hàng tiềm năng của bạn từ mọi nơi bằng ứng dụng
                của chúng tôi!
              </p>
            </div>
            <div class="flex items-center justify-center">
              <img
                width="128"
                height="128"
                src="/assets/images/logos/apple.png"
                alt=""
                class="px-1"
              />
              <img
                width="128"
                height="128"
                src="/assets/images/logos/android.png"
                alt=""
                class="px-1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
