<section class="py-8">
  <div class="container mx-auto">
    <div
      class="flex flex-wrap items-center py-8 px-8 rounded-lg mb-10 max-[667px]:gap-14 max-[414px]:gap-12 max-[390px]:gap-6 md:gap-0 border border-[#d9d9d9] border-solid"
    >
      <div class="md:w-1/4 sm:w-1/2 max-[667px]:ms-4">
        <div class="flex flex-col justify-center items-center">
          <div class="flex items-center mb-1">
            <img
              src="./../../../../assets/images/svgs/email.svg"
              alt=""
              class="mr-3"
            />
            <span
              class="md:text-2xl max-[667px]:text-xl text-[#222222] mt-[2px]"
              >{{ requestPricingList.length }}</span
            >
          </div>
          <p class="md:text-base sm:text-sm">Lead received</p>
          <p class="text-[#6c6c6c] hidden md:block">in the last 12 months</p>
        </div>
      </div>
      <div class="md:w-1/4 sm:w-1/2 max-[667px]:pl-10">
        <div class="flex flex-col justify-center items-center">
          <div class="flex items-center mb-1">
            <img
              src="./../../../../assets/images/svgs/review.svg"
              alt=""
              class="mr-3"
            />
            <span
              class="md:text-2xl max-[667px]:text-xl text-[#222222] mt-[2px]"
              >{{ supplier?.totalRating }}</span
            >
          </div>
          <p class="md:text-base sm:text-sm">Reviews</p>
          <p class="text-[#6c6c6c] hidden md:block">in the last 12 months</p>
        </div>
      </div>
      <div class="md:w-1/4 sm:w-1/2">
        <div class="flex flex-col justify-center items-center">
          <div class="flex items-center mb-1">
            <img
              src="./../../../../assets/images/svgs/view.svg"
              alt=""
              class="mr-3"
            />
            <span
              class="md:text-2xl max-[667px]:text-xl text-[#222222] mt-[2px]"
              >{{ supplier?.view }}</span
            >
          </div>
          <p class="md:text-base sm:text-sm">Storefront impressions</p>
          <p class="text-[#6c6c6c] hidden md:block">in the last 12 months</p>
        </div>
      </div>
      <div class="md:w-1/4 sm:w-1/2">
        <div class="flex flex-col justify-center items-center">
          <div class="flex items-center mb-1">
            <img
              src="./../../../../assets/images/svgs/vnd.svg"
              alt=""
              class="mr-3"
            />
            <span
              class="md:text-2xl max-[667px]:text-xl text-[#222222] mt-[2px]"
              >0</span
            >
          </div>
          <p class="md:text-base sm:text-sm">Spending</p>
          <p class="text-[#6c6c6c] hidden md:block">in the last 12 months</p>
        </div>
      </div>
    </div>
    @if (supplier?.status !== statuses.APPROVED) {
    <div class="bg-[#e9f6f8] py-6 px-6 rounded-lg mb-10">
      <p class="text-base font-semibold mb-2">
        Your business information is being verified
      </p>
      <p class="mb-2">
        <span class="font-semibold">Wedding suppliers: </span>
        Once our Content Team has approved your information, your listing will
        be live.
      </p>
      <p>
        If you have any questions, please email
        <a class="underline" href="mailto:bonheur.wedding.1910@gmail.com"
          >bonheur201&#64;gmail.com</a
        >
      </p>
    </div>
    }@else if (supplier?.status === statuses.REJECTED) {
    <div class="bg-[#fcf5eb] py-6 px-6 rounded-lg mb-10">
      <p class="text-base font-semibold mb-2">
        We are sorry, but your business couldn't be validated by our Content
        Team.
      </p>
      <p class="mb-2">
        We sent you an email explaining why your listing could not be activated.
        Make sure you added high quality photos and a business description!
      </p>
      <p>
        If you have any questions, please email
        <a class="underline" href="mailto:bonheur.wedding.1910@gmail.com"
          >bonheur201&#64;gmail.com</a
        >
      </p>
    </div>
    }
    <div class="flex flex-wrap justify-between relative items-center mx-auto">
      <div class="flex flex-wrap w-full mb-[-24px]">
        <div class="min-[992px]:w-[75%] w-full px-[12px] mb-[24px]">
          <div
            class="px-4 py-10 border border-[#d9d9d9] border-solid rounded-lg mb-10"
          >
            <div class="flex flex-col justify-center items-center">
              <img
                width="100"
                height="100"
                src="./../../../../assets/images/svgs/sendMail.svg"
                alt="Enquiries"
                class="mb-6"
              />
              <p class="text-xl mb-4">
                You haven't received any enquiries yet.
              </p>
              <p class="mb-6">Want to get more enquiries?</p>
              <button mat-raised-button color="accent" style="padding: 20px">
                Upgrade
              </button>
            </div>
          </div>
          <div
            class="px-4 py-10 border border-[#d9d9d9] border-solid rounded-lg"
          >
            <div
              class="flex flex-col justify-center items-center text-center max-w-lg mx-auto"
            >
              <img
                width="100"
                height="100"
                src="./../../../../assets/images/svgs/rating.svg"
                alt="Enquiries"
                class="mb-6"
              />
              <p class="text-xl mb-4">You haven't received any reviews yet!</p>
              <p class="mb-6">
                Reviews are very influential when it comes to choosing a
                supplier. Encourage your past couples to leave reviews about
                their experience with you.
              </p>
              <button mat-raised-button color="accent" style="padding: 20px">
                Request reviews
              </button>
            </div>
          </div>
        </div>
        <div
          class="min-[992px]:w-[25%] w-full px-[12px] mb-[24px] block max-[992px]:hidden"
        >
          <div
            class="px-4 py-8 border border-[#d9d9d9] border-solid rounded-lg mb-10"
          >
            <div class="mb-6 border-b border-[#d9d9d9] border-solid pb-4">
              <p class="font-semibold mb-4 text-xl">
                Download the Bonheur for Business app
              </p>
              <p>Manage your leads from anywhere with our app!</p>
            </div>
            <div class="flex items-center justify-center">
              <img
                width="128"
                height="128"
                src="./../../../../assets/images/logos/apple.png"
                alt=""
                class="px-1"
              />
              <img
                width="128"
                height="128"
                src="./../../../../assets/images/logos/android.png"
                alt=""
                class="px-1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
