<div
  class="hidden w-full h-screen fixed top-[0] left-[0] bg-[#00000080] z-[17]"
  [style.display]="isSearchBarOpen ? 'block' : 'none'"
  (click)="closeMenu($event)"
></div>
<div
  class="sb-menu w-full h-1/3 pb-6 pt-[20px] px-[8px] text-[14px] font-normal fixed z-[17] top-[0] left-[0] block transition-all duration-[0.5s] ease delay-[0s] -translate-y-[100%] bg-[#fff] opacity-[0]"
  [ngClass]="isSearchBarOpen ? 'open' : ''"
>
  <div class="flex justify-between align-center py-4 px-4">
    <a
      routerLink="/"
      class="text-2xl font-bold text-primary hover:text-primary-dark transition-colors absolute lg:static lg:translate-x-0"
    >
      <span class="font-bold">Bonheur.</span>
    </a>
    <button
      class="absolute top-4 right-4 text-gray-500 focus:outline-none"
      (click)="toggleSearchBar()"
    >
      <span class="material-icons">close</span>
    </button>
  </div>
  <div class="flex items-center justify-center h-full w-full px-4">
    <div
      class="flex items-center border border-solid border-gray-300 rounded-lg overflow-hidden w-full max-w-xl"
    >
      <!-- Dropdown Location -->
      <div
        class="flex items-center px-2 border-r-[1px] border-solid border-gray-500 h-full"
      >
        <a
          class="relative p-[0] font-semibold block tracking-[0.03rem] cursor-pointer flex items-center"
          [matMenuTriggerFor]="provinceMenu"
        >
          Location
          <mat-icon style="width: 20px" class="pl-[2px]">expand_more</mat-icon>
        </a>
        <mat-menu
          #provinceMenu="matMenu"
          class="px-6"
          xPosition="after"
          class="h-[600px] w-[400px] overflow-y-auto"
          style="height: fit-content"
        >
          <input
            type="text"
            [(ngModel)]="searchProvince"
            class="px-4 py-2 w-full border-b focus:outline-none focus:border-blue-500"
            placeholder="Search province..."
            (keydown.enter)="onSearchProvince()"
            (input)="onSearchProvince()"
            (click)="$event.stopPropagation()"
            [ngModelOptions]="{ standalone: true }"
            autofocus
          />
          @for (province of filteredProvinces; track $index) {
          <button
            class="px-4 py-2 text-gray-700 hover:bg-gray-100 cursor-pointer text-left w-full"
            (click)="selectProvince(province.provinceName)"
          >
            {{ province.provinceName }}
          </button>
          }
        </mat-menu>
      </div>

      <!-- Search Input -->
      <input
        type="text"
        class="flex-grow h-full px-2 py-2 outline-none"
        placeholder="Search suppliers..."
        [(ngModel)]="searchValue"
        (keydown.enter)="onSearch()"
      />

      <!-- Search Icon -->
      <button
        class="p-3 mt-1 text-gray-500 hover:text-gray-700"
        (click)="onSearch()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</div>
