<section
  class="overflow-hidden pt-[100px] max-[1199px]:pt-[35px] pb-[100px] max-[1199px]:pb-[70px] bg-white"
>
  <div
    class="container mx-auto max-[1024px]:px-0 max-[1199px]:px-30 md:px-8 px-2"
  >
    <div
      class="section-title mb-[20px] pb-[20px] z-[5] relative flex flex-col items-start text-start max-[991px]:pb-[0] px-8"
    >
      <div
        class="section-detail max-[991px]:mb-[12px]"
        data-aos="fade-down"
        data-aos-duration="1000"
        data-aos-delay="100"
      >
        <h2
          class="mb-[0] p-[0] text-[25px] font-bold text-primary relative inline capitalize leading-[1] tracking-[0.03rem] max-[767px]:text-[23px]"
        >
          Featured Wedding Vendors
        </h2>
      </div>
    </div>
    <ngx-slick-carousel
      class="carousel px-4"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      @for (item of slides; track $index) {
      <div ngxSlickItem class="slide">
        <div
          class="flex flex-col items-center justify-center gap-4 px-4 max-[1024px]:px-1 max-[667px]:px-3"
        >
          <mat-card
            class="relative h-[400px] w-full flex flex-col justify-between bg-white shadow-lg rounded-md"
            appearance="outlined"
            data-aos="fade-up"
            data-aos-duration="1500"
            data-aos-delay="200"
          >
            <div
              class="absolute top-2 left-2 bg-primary text-white text-xs font-bold px-2 py-1 rounded z-10"
            >
              Premium
            </div>
            <img
              mat-card-image
              [src]="item.img"
              class="max-h-[201px] w-full object-cover rounded-t-md"
            />

            <mat-card-content
              class="flex flex-col flex-1 justify-between"
              style="padding: 20px !important"
            >
              <div>
                @if (item.title) {
                <h2 class="text-[#3d4750] text-[20px] font-bold truncate">
                  {{ item.title }}
                </h2>
                } @if (item.title) {

                <p class="text-[#3d4750] text-[14px]">
                  {{ item.location }}
                </p>
                }
                <div class="flex items-center mt-2">
                  @if (item.rating) {
                  <span class="text-[#fabb00] text-xl mb-[4px]">★</span>
                  <span class="text-sm mr-1"></span>{{ item.rating }}
                  } @if (item.reviewsCount) {
                  <span class="text-[#7d7d7d] text-[12px] ml-2">
                    ({{ item.reviewsCount }} reviews)
                  </span>
                  }
                </div>
              </div>

              <div>
                <div class="flex justify-between items-center mt-3">
                  @if (item.price) {
                  <span class="text-base font-bold text-[18px]">
                    {{ item.price }}
                  </span>
                  } @if (item.capacity) {
                  <span class="text-[#7d7d7d] text-[12px]">
                    Capacity: {{ item.capacity }}
                  </span>
                  }
                </div>
                <div class="flex items-center justify-between mt-4">
                  @if (item.deals) {
                  <div class="flex items-center">
                    <mat-icon fontSet="material-icons-outlined" class="mr-1"
                      >local_offer</mat-icon
                    ><span class="text-[#7d7d7d] text-[12px]" class="mr-4"
                      >{{ item.deals }} deals</span
                    >
                  </div>

                  } @if (item.discount) {
                  <span class="text-red-500 text-[14px] font-semibold">
                    {{ item.discount }}
                  </span>
                  }
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      }
    </ngx-slick-carousel>
  </div>
</section>
