<header class="bg-white shadow-[0_2px_2px_0_rgba(0,0,0,0.05)]">
  <div
    class="py-[20px] max-[991px]:py-[15px] border-b-[1px] border-[#eee] border-solid"
  >
    <div
      class="flex flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]"
    >
      <div class="max-[768px]:block hidden">
        <div>
          <div class="flex items-center px-4" routerLink="/supplier">
            <mat-icon><i-tabler name="chevron-left"></i-tabler></mat-icon>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center">
          <div
            class="md:border-r-[1px] md:border-[#eee] md:border-solid px-[15px] mb-1 cursor-pointer"
            routerLink="/"
          >
            <img
              src="bonheur.png"
              alt="logo"
              class="w-[100px] h-auto block object-cover"
              loading="lazy"
            />
          </div>
          <div class="px-4 mt-2 md:ml-4 max-[768px]:hidden">
            <div class="flex items-center bg-gray-50 px-4 py-1">
              <p class="mr-4">Tăng kết quả của bạn</p>
              <a
                class="uppercase text-underline text-orange-500 font-semibold"
                routerLink="/supplier/upgrade"
                >Nâng cấp</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="max-[768px]:hidden">
        <div class="flex items-center">
          <div class="mr-4">
            <mat-icon><i-tabler name="phone"></i-tabler></mat-icon>
          </div>
          <div class="flex flex-col mr-4">
            <p class="text-sm">Cần giúp đỡ?</p>
            <a
              href="tel:84392341142"
              class="text-sm font-semibold cursor-pointer hover:underline"
              target="_blank"
              >+84392 2341 142</a
            >
          </div>
          <div
            [matMenuTriggerFor]="accountMenu"
            aria-label="Account"
            class="cursor-pointer"
          >
            @if (supplier && supplier.images && supplier.images.length > 0) {
            <img
              class="w-10 rounded-full h-10"
              [src]="primaryImage"
              alt="Avatar"
            />
            }@else {
            <img
              class="w-10 h-10"
              src="./../../../../assets/images/svgs/bag2.svg"
              alt="Avatar"
            />
            }
          </div>
          <mat-menu #accountMenu="matMenu" xPosition="before">
            @if (supplier) {
            <div
              style="min-width: 340px !important; max-width: 480px !important"
              class="px-4 py-4"
            >
              <div class="flex items-center justify-end font-light mb-4">
                <a class="cursor-pointer" (click)="logout()">Đăng xuất</a>
              </div>
              <div class="flex items-center justify-center mb-2">
                <h1 class="text-base font-bold">{{ supplier.name }}</h1>
              </div>
              <div
                class="flex items-center justify-center border-b border-[#d9d9d9] border-solid pb-4 mb-4"
              >
                <a class="font-light text-sm mx-4">Cài đặt</a>
                <a
                  routerLink="/suppliers/{{ supplier.slug }}"
                  class="font-light text-sm hover:text-secondary cursor-pointer"
                  >Xem trang của tôi</a
                >
              </div>
              <div
                class="grid grid-cols-2 gap-y-8 border-b border-[#d9d9d9] border-solid pb-4 mb-4"
              >
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center text-center cursor-pointer gap-2"
                    routerLink="/supplier"
                  >
                    <img
                      src="/assets/images/svgs/business.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    <p>Trang chủ</p>
                  </div>
                </div>
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center text-center cursor-pointer gap-2"
                    routerLink="/supplier/storefront"
                  >
                    <img
                      src="/assets/images/svgs/storefront.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    <p>Hồ sơ</p>
                  </div>
                </div>
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center text-center cursor-pointer gap-2"
                    routerLink="/supplier/mailbox"
                  >
                    <img
                      src="/assets/images/svgs/email.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    <p>Báo giá</p>
                  </div>
                </div>
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center text-center cursor-pointer gap-2"
                    routerLink="/supplier/reviews"
                  >
                    <img
                      src="/assets/images/svgs/review.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    <p>Đánh giá</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-col items-center justify-center">
                <p class="text-base mb-2">Tăng kết quả của bạn</p>
                <a
                  class="uppercase text-underline text-orange-500 font-semibold cursor-pointer"
                  routerLink="/supplier/upgrade"
                  >Nâng cấp</a
                >
              </div>
            </div>
            }
          </mat-menu>
        </div>
      </div>
      <div class="max-[768px]:block hidden">
        <div class="flex items-center px-4" (click)="toggleMenu()">
          <mat-icon><i-tabler name="menu-2"></i-tabler></mat-icon>
        </div>
      </div>
    </div>
  </div>

  <app-main-menu></app-main-menu>
</header>
<!-- Mobile Sidebar-->
<app-sidebar-mobile
  [isMenuOpen]="isMenuOpen"
  [account]="account"
  [supplier]="supplier"
  (logoutEvent)="logout()"
  (toggleMenuEvent)="toggleMenu()"
></app-sidebar-mobile>
<!-- Mobile Sidebar -->
