<header class="bg-white shadow-[0_2px_2px_0_rgba(0,0,0,0.05)]">
  <div
    class="py-[20px] max-[991px]:py-[15px] border-b-[1px] border-[#eee] border-solid"
  >
    <div
      class="flex flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]"
    >
      <div class="max-[768px]:block hidden">
        <div>
          <div class="flex items-center px-4">
            <mat-icon><i-tabler name="chevron-left"></i-tabler></mat-icon>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center">
          <div
            class="md:border-r-[1px] md:border-[#eee] md:border-solid px-[15px] py-2 cursor-pointer"
            routerLink="/"
          >
            <h1 class="text-primary font-semibold text-2xl">Bonheur.</h1>
          </div>
          <div class="px-4 md:ml-4 max-[768px]:hidden">
            <div class="flex items-center bg-gray-50 px-4 py-1">
              <p class="mr-4">Boost your results</p>
              <a
                class="uppercase text-underline text-orange-500 font-semibold"
                href=""
                >Upgrade</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="max-[768px]:hidden">
        <div class="flex items-center">
          <div class="mr-4">
            <mat-icon><i-tabler name="phone"></i-tabler></mat-icon>
          </div>
          <div class="flex flex-col mr-4">
            <p class="text-sm">Need help?</p>
            <a
              href="tel:84392341142"
              class="text-sm font-semibold cursor-pointer hover:underline"
              target="_blank"
              >0392 2341 142</a
            >
          </div>
          <div
            [matMenuTriggerFor]="accountMenu"
            aria-label="Account"
            class="cursor-pointer"
          >
            @if (supplier && supplier.images && supplier.images.length > 0) {
            <img
              class="w-10 rounded-full h-10"
              [src]="supplier.images[0].imageUrl"
              alt="Avatar"
            />
            }@else {
            <img
              class="w-10 rounded-full h-10"
              [src]="account?.pictureUrl"
              alt="Avatar"
            />
            }
          </div>
          <mat-menu #accountMenu="matMenu" xPosition="after">
            @if (supplier) {
            <div
              style="min-width: 340px !important; max-width: 480px !important"
              class="px-4 py-4"
            >
              <div class="flex items-center justify-end font-light mb-4">
                <a class="cursor-pointer" (click)="logout()">Log out</a>
              </div>
              <div class="flex items-center justify-center mb-2">
                <h1 class="text-base font-bold">{{ supplier.name }}</h1>
              </div>
              <div
                class="flex items-center justify-center border-b border-[#d9d9d9] border-solid pb-4 mb-4"
              >
                <a class="font-light text-sm mx-4">Setting</a>
                <a class="font-light text-sm">View my storefront</a>
              </div>
              <div
                class="grid grid-cols-2 gap-y-8 border-b border-[#d9d9d9] border-solid pb-4 mb-4"
              >
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center text-center cursor-pointer gap-2"
                  >
                    <img
                      src="./../../../../assets/images/svgs/business.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    <p>Home</p>
                  </div>
                </div>
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center text-center cursor-pointer gap-2"
                  >
                    <img
                      src="./../../../../assets/images/svgs/storefront.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    <p>Storefront</p>
                  </div>
                </div>
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center text-center cursor-pointer gap-2"
                  >
                    <img
                      src="./../../../../assets/images/svgs/email.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    <p>Enquiries</p>
                  </div>
                </div>
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center text-center cursor-pointer gap-2"
                  >
                    <img
                      src="./../../../../assets/images/svgs/review.svg"
                      alt=""
                      width="24"
                      height="24"
                    />
                    <p>Reviews</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-col items-center justify-center">
                <p class="text-base mb-2">Boost your results</p>
                <a
                  class="uppercase text-underline text-orange-500 font-semibold"
                  href=""
                  >Upgrade</a
                >
              </div>
            </div>
            }
          </mat-menu>
        </div>
      </div>
      <div class="max-[768px]:block hidden">
        <div class="flex items-center px-4">
          <mat-icon><i-tabler name="menu-2"></i-tabler></mat-icon>
        </div>
      </div>
    </div>
  </div>

  <app-main-menu></app-main-menu>
</header>
