<mat-card class="w-100 overflow-y-auto">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-lg-4 m-t-10">
        <mat-form-field appearance="outline" class="w-100">
          <input matInput type="text" placeholder="Type to search..." #input />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="flex justify-start mx-4 my-2">
        <button
          (click)="openAdvertisementDialog()"
          mat-flat-button
          color="primary"
          class="flex items-center text-white text-sm font-medium p-24 shadow-md transition-colors duration-200"
        >
          <mat-icon class="icon-20 mt-1 d-flex align-items-center">
            <i-tabler name="plus"></i-tabler>
          </mat-icon>
          Add New Advertisement
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="w-100">
  <mat-card-content>
    <div
      class="col-12 d-flex align-items-center justify-content-center mb-5"
    ></div>
    <div class="table-responsive mt-20">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="w-100 text-nowrap"
        bgColor="white"
      >
        <!-- Image or Video Column -->
        <ng-container matColumnDef="imageOrVideo">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="imageOrVideo"
          >
            Image/Video
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="f-s-14">
              @if (element.imageUrl) {
              <img
                [src]="element.imageUrl"
                alt="Advertisement Image"
                class="w-12 h-12 object-cover rounded"
              />
              }@else if (element.videoUrl) {
              <video
                [src]="element.videoUrl"
                class="w-12 h-12 object-cover rounded"
                controls
              ></video>
              }@else {
              <span>Not Available</span>
              }
            </span>
          </td>
        </ng-container>

        <!-- Supplier Column -->
        <ng-container matColumnDef="supplier">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="supplier"
          >
            Supplier
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="f-s-14">{{
              element.supplier?.name || "Not Available"
            }}</span>
          </td>
        </ng-container>

        <!-- Ad Package Column -->
        <ng-container matColumnDef="adPackage">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="adPackage"
          >
            Ad Package
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="f-s-14">{{
              element.adPackage?.title || "Not Available"
            }}</span>
          </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="title"
          >
            Title
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="f-s-14">{{ element.title || "Not Available" }}</span>
          </td>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="startDate"
          >
            Start Date
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="f-s-14">{{
              element.startDate | date : "dd/MM/yyyy"
            }}</span>
          </td>
        </ng-container>

        <!-- End Date Column -->
        <ng-container matColumnDef="endDate">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="endDate"
          >
            End Date
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="f-s-14">{{
              element.endDate | date : "dd/MM/yyyy"
            }}</span>
          </td>
        </ng-container>

        <!-- Is Active Column -->
        <ng-container matColumnDef="isActive">
          <th
            class="f-s-16 f-w-600"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="isActive"
          >
            Status
          </th>
          <td mat-cell *matCellDef="let element">
            <span class="f-s-14">{{
              element.isActive ? "Active" : "Inactive"
            }}</span>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th class="f-s-16 f-w-600" mat-header-cell *matHeaderCellDef>
            Actions
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              type="button"
              class="m-t-4"
              (click)="openAdvertisementDialog(element)"
            >
              <mat-icon color="primary">
                <i-tabler
                  name="edit"
                  class="icon-20 d-flex align-items-center"
                ></i-tabler>
              </mat-icon>
            </button>
            <button mat-icon-button type="button" class="m-t-4">
              <mat-icon color="warn">
                <i-tabler
                  name="trash"
                  class="icon-20 d-flex align-items-center"
                ></i-tabler>
              </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="totalItemCount"
      [pageSize]="pageSize"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
