<div class="container mx-auto">
  <div class="flex flex-wrap mt-2 border-t-[1px] border-solid border-[#eee]">
    <div class="max-[664px]:hidden w-1/5 px-2">
      <ul class="mt-4 pt-2 pl-4">
        <a href="/supplier/review">
          <li class="flex mb-4">
            <i-tabler
              name="settings"
              class="icon-20 d-flex align-items-center mr-1"
            >
            </i-tabler>
            <span>Review collectors</span>
          </li>
        </a>
        <a href="/supplier/reviews">
          <li class="flex mb-4">
            <i-tabler
              name="note"
              class="icon-20 d-flex align-items-center mr-1"
            >
            </i-tabler>
            <span>Reviews</span>
          </li>
        </a>
        <a href="/supplier/review-widget"
          ><li class="flex mb-4">
            <i-tabler
              name="settings"
              class="icon-20 d-flex align-items-center mr-1"
            >
            </i-tabler>
            <span class="font-bold">Reviews widget</span>
          </li></a
        >
      </ul>
    </div>

    <div class="w-4/5 mt-2 px-4">
      <h1 class="text-2xl font-bold mx-1 my-[10px]">Reviews widget</h1>

      <div
        class="rounded-md w-full place-content-center p-[20px] bg-[#f8f8f8] border-[#d9d9d9] border-solid border-[1px] my-4 w-full mr-[10px]"
      >
        <div class="flex">
          <div class="flex flex-row justify-center mr-2">
            <img
              src="assets/images/svgs/star.svg"
              alt="Your photo"
              width="54"
              height="54"
            />
          </div>
          <div class="py-2 px-4">
            <p class="text-lg font-semibold">Get reviews from your couples</p>
            <p>
              Reviews are critical when it comes time to choose a supplier.
              Encourage your past couples to leave a review about their
              experience with you.
            </p>
          </div>
          <div class="flex flex-row mr-2 py-2 px-2">
            <button
              mat-raised-button
              color="primary"
              class="mr-2 font-bold p-3"
            >
              Request Reviews
            </button>
          </div>
        </div>
      </div>

      <div
        class="rounded-md w-full h-[303px] place-content-center px-[10px] bg-[#fff] border-[#d9d9d9] border-solid border-[1px] my-4 w-full"
      >
        <div class="flex flex-row justify-center">
          <img
            src="assets/images/svgs/certificate.svg"
            alt="Your photo"
            width="123"
            height="95"
          />
        </div>
        <div class="flex flex-row justify-center text-center py-2 text-sm">
          <p class="font-bold">
            Get reviews to start earning badges for your storefront!
          </p>
        </div>
        <div class="flex flex-row justify-center text-center py-2 text-sm">
          <p>Receive at least 3 reviews to earn your first Hitched badge.</p>
        </div>
        <div class="flex flex-row justify-center text-center py-2">
          <button mat-raised-button color="primary" class="mr-2 font-bold p-3">
            Request Reviews
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
