<section class="onboarding py-10">
  <div class="container mx-auto">
    <div>
      <div class="mb-10 px-4">
        <h3 class="text-2xl font-semibold mb-6">
          Chuẩn bị hồ sơ doanh nghiệp và tạo dấu ấn riêng!
        </h3>
        <p>
          Hoàn thành các bước đơn giản sau để xuất bản cửa hàng của bạn. Đội ngũ
          của chúng tôi sẽ xem xét thông tin và liên hệ với bạn sớm nhất có thể.
        </p>
      </div>
      <div class="grid md:grid-cols-3 max-[667px]:grid-cols-1 gap-4">
        <div class="col-span-1 px-4">
          <div
            class="flex flex-col items-center justify-center py-10 px-6 rounded-[1rem] shadow-[0_2px_8px_#00000026] cursor-pointer hover:shadow-[0_2px_8px_2px_#00000026]"
            routerLink="/supplier/onboarding/step-1"
          >
            <div class="mb-4">
              @if (supplier?.isStep1Completed === true) {
              <img
                src="/assets/images/svgs/completeStep.svg"
                alt="Hoàn thành bước 1"
              />
              }@else {
              <img src="/assets/images/svgs/step1.svg" alt="Bước 1" />
              }
            </div>

            <div class="text-center">
              <p class="font-semibold mb-4">BƯỚC 1</p>
              <p
                class="text-base text-center text-base text-primary mb-4 font-semibold"
              >
                Thêm thông tin về doanh nghiệp của bạn
              </p>
              <p class="text-base text-[#6c6c6c]">
                Thời gian hoàn thành ước tính: 3 phút
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-1 px-4">
          <div
            class="flex flex-col items-center justify-center py-10 rounded-[1rem] shadow-[0_2px_8px_#00000026] cursor-pointer hover:shadow-[0_2px_8px_2px_#00000026]"
            routerLink="/supplier/onboarding/step-2"
          >
            <div class="mb-4">
              @if (supplier?.isStep2Completed === true) {
              <img
                src="/assets/images/svgs/completeStep.svg"
                alt="Hoàn thành bước 2"
              />
              }@else {
              <img src="/assets/images/svgs/step2.svg" alt="Bước 2" />
              }
            </div>

            <div class="text-center">
              <p class="font-semibold mb-4">BƯỚC 2</p>
              <p
                class="text-base text-center text-base text-primary mb-4 font-semibold"
              >
                Cung cấp địa chỉ doanh nghiệp của bạn
              </p>
              <p class="text-base text-[#6c6c6c]">
                Thời gian hoàn thành ước tính: 2 phút
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-1 px-4">
          <div
            class="flex flex-col items-center justify-center py-10 rounded-[1rem] shadow-[0_2px_8px_#00000026] cursor-pointer hover:shadow-[0_2px_8px_2px_#00000026]"
            routerLink="/supplier/onboarding/step-3"
          >
            <div class="mb-4">
              @if (supplier?.isStep3Completed === true) {
              <img
                src="/assets/images/svgs/completeStep.svg"
                alt="Hoàn thành bước 3"
              />
              }@else {
              <img src="/assets/images/svgs/step3.svg" alt="Bước 3" />
              }
            </div>

            <div class="text-center">
              <p class="font-semibold mb-4">BƯỚC 3</p>
              <p
                class="text-base text-center text-base text-primary mb-4 font-semibold"
              >
                Tải lên 4 ảnh chất lượng cao
              </p>
              <p class="text-base text-[#6c6c6c]">
                Thời gian hoàn thành ước tính: 4 phút
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
