<section class="onboarding py-10">
  <div class="container mx-auto">
    <div>
      <div class="mb-10 px-4">
        <h3 class="text-2xl font-semibold mb-6">
          Prepare your storefront and stand out!
        </h3>
        <p>
          Complete these simple steps to publish your storefront. Our team will
          review the information and contact you soon.
        </p>
      </div>
      <div class="grid md:grid-cols-3 max-[667px]:grid-cols-1 gap-4">
        <div class="col-span-1 px-4">
          <div
            class="flex flex-col items-center justify-center py-10 px-6 rounded-[1rem] shadow-[0_2px_8px_#00000026] cursor-pointer hover:shadow-[0_2px_8px_2px_#00000026]"
            routerLink="/supplier/onboarding/step-1"
          >
            <div class="mb-4">
              @if (supplier?.onBoardStatus === onBoardStatus.BusinessInfo ||
              supplier?.onBoardStatus === onBoardStatus.Photos ||
              supplier?.onBoardStatus === onBoardStatus.Completed) {
              <img
                src="./../../../assets/images/svgs/completeStep.svg"
                alt="Step Completed"
              />
              }@else {
              <img
                src="./../../../../assets/images/svgs/step1.svg"
                alt="Step 1"
              />
              }
            </div>

            <div class="text-center">
              <p class="font-semibold mb-4">STEP 1</p>
              <p
                class="text-base text-center text-base text-primary mb-4 font-semibold"
              >
                Add information about your business
              </p>
              <p class="text-base text-[#6c6c6c]">
                Estimated completion time: 3 min
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-1 px-4">
          <div
            class="flex flex-col items-center justify-center py-10 rounded-[1rem] shadow-[0_2px_8px_#00000026] cursor-pointer hover:shadow-[0_2px_8px_2px_#00000026]"
            routerLink="/supplier/onboarding/step-2"
          >
            <div class="mb-4">
              @if (supplier?.onBoardStatus === onBoardStatus.Photos ||
              supplier?.onBoardStatus === onBoardStatus.Completed) {
              <img
                src="./../../../assets/images/svgs/completeStep.svg"
                alt="Step Completed"
              />
              }@else {
              <img
                src="./../../../../assets/images/svgs/step2.svg"
                alt="Step 2"
              />
              }
            </div>

            <div class="text-center">
              <p class="font-semibold mb-4">STEP 2</p>
              <p
                class="text-base text-center text-base text-primary mb-4 font-semibold"
              >
                Include your business address
              </p>
              <p class="text-base text-[#6c6c6c]">
                Estimated completion time: 2 min
              </p>
            </div>
          </div>
        </div>
        <div class="col-span-1 px-4">
          <div
            class="flex flex-col items-center justify-center py-10 rounded-[1rem] shadow-[0_2px_8px_#00000026] cursor-pointer hover:shadow-[0_2px_8px_2px_#00000026]"
            routerLink="/supplier/onboarding/step-3"
          >
            <div class="mb-4">
              @if (supplier?.onBoardStatus === onBoardStatus.Completed) {
              <img
                src="./../../../assets/images/svgs/completeStep.svg"
                alt="Step Completed"
              />
              }@else {
              <img
                src="./../../../../assets/images/svgs/step3.svg"
                alt="Step 3"
              />
              }
            </div>

            <div class="text-center">
              <p class="font-semibold mb-4">STEP 3</p>
              <p
                class="text-base text-center text-base text-primary mb-4 font-semibold"
              >
                Upload 9 high quality photos
              </p>
              <p class="text-base text-[#6c6c6c]">
                Estimated completion time: 4 min
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
