<div class="container">
  <div
    class="bb-main-menu-desk bg-[#fff] py-[5px] border-t-[1px] border-solid border-[#eee] max-[991px]:hidden px-[81.5px]"
  >
    <div class="p-[15px] margin flex flex-row justify-between">
      <div class="flex">
        <img
          src="https://cdn0.hitched.co.uk/usr/1/6/2/3/utmr_5851623.jpg?r=57264"
          alt="avatar"
          width="96"
          style="height: 96px"
          class="rounded-full"
        />
        <div class="px-[30px]">
          <span class="font-bold text-2xl">Nguyen</span>
          <p>Da Nang, Duyen Hai Mien Trung · From January 2025</p>
          <p class="italic">
            I have not introduced myself to the community yet.
            <a
              class="link--primary ml10 icon icon-edit-red icon-left"
              href="/users-update.php?go=datospersonales-init"
              >Add introduction</a
            >
          </p>
          <div class="flex flex-row py-2">
            <button mat-stroked-button>Basic</button>
            <mat-icon color="gray" class="ml-3 my-1">
              <i-tabler
                name="Diamond"
                class="icon-20 d-flex align-items-center"
              ></i-tabler>
            </mat-icon>
            <p class="my-1">Beginner</p>
          </div>
        </div>
      </div>
      <mat-card appearance="outlined">
        <div
          class="shadow-md rounded-md pt-[20px] pb-[30px] px-[30px] w-[300px]"
        >
          <div class="pt-3 px-2 flex flex-row justify-center">
            <mat-icon color="gray" class="">
              <i-tabler
                name="clock"
                class="icon-20 d-flex align-items-center"
              ></i-tabler>
            </mat-icon>
            <p class="font-bold">WEDDING COUNTDOWN...</p>
          </div>
          <div class="flex flex-row justify-center">
            <p class="">1 December, 2025</p>
          </div>
          <div
            class="p-3 border-t-[2px] border-solid border-[#eee] flex flex-row flex-nowrap"
          >
            <div class="basis-1/4 text-center">
              <p>322</p>
              <p>days</p>
            </div>
            <div class="basis-1/4 text-center">
              <p>19</p>
              <p>hours</p>
            </div>
            <div class="basis-1/4 text-center">
              <p>:</p>
            </div>
            <div class="basis-1/4 text-center">
              <p>2</p>
              <p>mins</p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div
    class="bb-main-menu-desk bg-[#fff] py-[5px] border-t-[1px] border-solid border-[#eee] max-[991px]:hidden px-[81.5px]"
  >
    <div class="p-[15px] margin flex flex-row justify-between">
      <div>
        <div>
          <span class="font-bold text-xl"
            >Let's jot down some basic details...
          </span>
        </div>
        <div class="flex gap-2 my-4">
          <div
            class="shadow-md rounded-md w-[154px] h-[157px] place-content-center mx-2 border-[1px] border-solid border-[#eee]"
          >
            <div class="flex flex-row justify-center">
              <div class="bg-[#f6f1ee] rounded-full w-[47px] h-[47px]"></div>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">Colour</p>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">...</p>
            </div>
          </div>
          <div
            class="shadow-md rounded-md w-[154px] h-[157px] place-content-center mx-2 border-[1px] border-solid border-[#eee]"
          >
            <div class="flex flex-row justify-center">
              <div class="bg-[#f6f1ee] rounded-full w-[47px] h-[47px]"></div>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">Season</p>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">...</p>
            </div>
          </div>
          <div
            class="shadow-md rounded-md w-[154px] h-[157px] place-content-center mx-2 border-[1px] border-solid border-[#eee]"
          >
            <div class="flex flex-row justify-center">
              <div class="bg-[#f6f1ee] rounded-full w-[47px] h-[47px]"></div>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">Style</p>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">...</p>
            </div>
          </div>
          <div
            class="shadow-md rounded-md w-[154px] h-[157px] place-content-center mx-2 border-[1px] border-solid border-[#eee]"
          >
            <div class="flex flex-row justify-center">
              <div class="bg-[#f6f1ee] rounded-full w-[47px] h-[47px]"></div>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">Dress</p>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">...</p>
            </div>
          </div>
          <div
            class="shadow-md rounded-md w-[154px] h-[157px] place-content-center mx-2 border-[1px] border-solid border-[#eee]"
          >
            <div class="flex flex-row justify-center">
              <div class="bg-[#f6f1ee] rounded-full w-[47px] h-[47px]"></div>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">Honeymoon</p>
            </div>
            <div class="flex flex-row justify-center text-center py-2">
              <p class="uppercase">...</p>
            </div>
          </div>
        </div>
        <div>
          <span class="font-bold text-xl">Recent Photos</span>
        </div>
        <div
          class="rounded-md w-[855px] h-[303px] place-content-center p-[20px] bg-[#f8f8f8] border-[#d9d9d9] border-solid border-[1px] my-4"
        >
          <div class="flex flex-row justify-center">
            <img
              src="assets/images/svgs/media.svg"
              alt="Your photo"
              width="123"
              height="95"
            />
          </div>
          <div class="flex flex-row justify-center text-center py-2 text-xl">
            <p class="text-xl">Share Your Photos</p>
          </div>
          <div class="flex flex-row justify-center text-center py-2 text-sm">
            <p>
              From outfits to centrepieces, share pictures of all your wedding
              details
            </p>
          </div>
          <div class="flex flex-row justify-center text-center py-2">
            <button mat-flat-button color="primary">Upload Photos</button>
          </div>
        </div>
        <div>
          <span class="font-bold text-xl">Recent Videos</span>
        </div>
        <div
          class="rounded-md w-[855px] h-[303px] place-content-center p-[20px] bg-[#f8f8f8] border-[#d9d9d9] border-solid border-[1px] my-4"
        >
          <div class="flex flex-row justify-center">
            <img
              src="assets/images/svgs/video.svg"
              alt="Your photo"
              width="115"
              height="85"
            />
          </div>
          <div class="flex flex-row justify-center text-center py-2 text-xl">
            <p class="text-xl">Share Your Videos</p>
          </div>
          <div class="flex flex-row justify-center text-center py-2 text-sm">
            <p>
              Post your favourite wedding-related videos and share them with the
              Hitched community
            </p>
          </div>
          <div class="flex flex-row justify-center text-center py-2">
            <button mat-flat-button color="primary">Upload Photos</button>
          </div>
        </div>
        <div>
          <span class="font-bold text-xl">My Friends </span>
        </div>
        <div
          class="rounded-md w-[855px] h-[303px] place-content-center p-[20px] bg-[#f8f8f8] border-[#d9d9d9] border-solid border-[1px] my-4 bg-[url('assets/images/backgrounds/add-friend.jpeg')] bg-cover bg-center bg-no-repeat"
        >
          <div class="flex flex-row justify-center text-center py-2 text-xl">
            <p class="text-xl font-bold">
              Meet People Getting Married at the Same Time as You
            </p>
          </div>
          <div
            class="flex flex-row justify-center text-center py-2 px-7 text-sm"
          >
            <p class="uppercase">
              4,050 couples get married in December of 2025
            </p>
          </div>
          <div class="flex justify-center text-center py-2">
            <div class="flex flex-row justify-center px-1">
              <img
                src="https://i.pinimg.com/736x/df/16/27/df1627ff1a050ae165cc31f576308243.jpg"
                width="60"
                style="height: 60px"
                class="rounded-full"
                alt="Friend 1"
              />
            </div>
            <div class="flex flex-row justify-center px-1">
              <img
                src="https://i.pinimg.com/736x/df/16/27/df1627ff1a050ae165cc31f576308243.jpg"
                width="60"
                style="height: 60px"
                class="rounded-full"
                alt="Friend 1"
              />
            </div>
            <div class="flex flex-row justify-center px-1">
              <img
                src="https://i.pinimg.com/736x/df/16/27/df1627ff1a050ae165cc31f576308243.jpg"
                width="60"
                style="height: 60px"
                class="rounded-full"
                alt="Friend 1"
              />
            </div>
            <div class="flex flex-row justify-center px-1">
              <img
                src="https://i.pinimg.com/736x/df/16/27/df1627ff1a050ae165cc31f576308243.jpg"
                width="60"
                style="height: 60px"
                class="rounded-full"
                alt="Friend 1"
              />
            </div>
            <div class="flex flex-row justify-center px-1">
              <img
                src="https://i.pinimg.com/736x/df/16/27/df1627ff1a050ae165cc31f576308243.jpg"
                width="60"
                style="height: 60px"
                class="rounded-full"
                alt="Friend 1"
              />
            </div>
            <div class="flex flex-row justify-center px-1">
              <img
                src="https://i.pinimg.com/736x/df/16/27/df1627ff1a050ae165cc31f576308243.jpg"
                width="60"
                style="height: 60px"
                class="rounded-full"
                alt="Friend 1"
              />
            </div>
            <div class="flex flex-row justify-center px-1">
              <img
                src="https://i.pinimg.com/736x/df/16/27/df1627ff1a050ae165cc31f576308243.jpg"
                width="60"
                style="height: 60px"
                class="rounded-full"
                alt="Friend 1"
              />
            </div>
          </div>
          <div class="flex flex-row justify-center text-center py-4">
            <button
              mat-raised-button
              color="primary"
              class="text-white bg-transparent px-6 py-3 rounded-lg shadow-md transition duration-300"
            >
              Connect with Other Couples
            </button>
          </div>
        </div>
      </div>
      <div
        class="shadow-md rounded-md pt-[20px] pb-[30px] px-[30px] w-[300px] h-[220px] border-[1px] border-solid border-[#eee]"
      >
        <div class="pt-3 px-2 flex flex-row justify-center">
          <mat-icon color="gray">
            <i-tabler
              name="clock"
              class="icon-20 d-flex align-items-center"
            ></i-tabler>
          </mat-icon>
          <p class="font-bold">Complete your profile</p>
        </div>
        <div class="flex flex-row justify-center mt-[15px]">
          <p class="">To get to 55% tell us more about your wedding!</p>
        </div>
        <div class="flex flex-row justify-center">
          <div
            class="bg-[#fff] w-full border border-solid border-2 border-[#eee] text-left relative rounded-sm mt-[10px]"
          >
            <span
              class="absolute bg-[#eacfc6] h-full w-[20%]"
              style="width: 45%"
            ></span>
            <p
              class="font-normal relative text-center z-[850] text-[#9a847c] leading-[30px] h-[30px] m-0"
            >
              45 %
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
