<!-- Top Announcement Bar -->
<div class="bg-gray-700 text-white text-sm py-[1px]">
  <div class="container mx-auto px-6">
    <div class="md:hidden">
      <div class="h-10 flex items-center justify-center">
        <div
          class="transition-all duration-500"
          [@slideInOut]="currentAnnouncementIndex"
        >
          {{ announcements[currentAnnouncementIndex] }}
        </div>
      </div>
    </div>

    <div class="hidden md:flex items-center justify-between h-10">
      <div class="flex items-center space-x-3">
        <a href="#" class="hover:text-primary transition-colors">
          <i-tabler class="icon-20" name="brand-facebook"></i-tabler>
        </a>
        <a href="#" class="hover:text-primary transition-colors">
          <i-tabler class="icon-20" name="brand-twitter"></i-tabler>
        </a>
        <a href="#" class="hover:text-primary transition-colors">
          <i-tabler class="icon-20" name="brand-youtube"></i-tabler>
        </a>
        <a href="#" class="hover:text-primary transition-colors">
          <i-tabler class="icon-20" name="brand-instagram"></i-tabler>
        </a>
        <a
          href="https://github.com/phatnttse"
          class="hover:text-primary transition-colors"
          target="_blank"
        >
          <i-tabler class="icon-20" name="brand-github"></i-tabler>
        </a>
        <a href="#" class="hover:text-primary transition-colors">
          <i-tabler class="icon-20" name="brand-linkedin"></i-tabler>
        </a>
      </div>

      <!-- Show announcement text on larger screens -->
      <div class="relative overflow-hidden w-[400px] whitespace-nowrap">
        <div
          class="transition-all duration-500"
          [@slideInOut]="currentAnnouncementIndex"
        >
          {{ announcements[currentAnnouncementIndex] }}
        </div>
      </div>

      <div class="flex items-center gap-2">
        <i-tabler class="icon-16 text-white" name="phone"></i-tabler>
        <a href="tel:+84392341142" class="text-white">Hotline: 0392 341 142</a>
      </div>
    </div>
  </div>
</div>
