<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button
    mat-icon-button
    (click)="toggleSidebarMini.emit()"
    class="d-flex justify-content-center"
  >
    <i-tabler name="align-left" class="icon-20 d-flex"></i-tabler>
  </button>

  <button mat-icon-button aria-label="Notifications">
    <i-tabler
      class="d-flex"
      name="bell"
      matBadge="1"
      matBadgeColor="primary"
    ></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  @if (accountInfo) {
  <button
    class="m-l-10"
    mat-button
    [matMenuTriggerFor]="accountMenu"
    aria-label="Account"
  >
    <div class="d-flex align-items-center">
      <img
        [src]="accountInfo.pictureUrl"
        class="rounded-circle object-cover"
        width="35"
      />
      <span class="m-l-8">{{ accountInfo.fullName }}</span>
      <i-tabler name="chevron-down" class="icon-18 d-flex m-t-2"></i-tabler>
    </div>
  </button>
  }@else {
  <button mat-raised-button routerLink="/authentication/signin">Sign In</button>
  }
  <mat-menu #accountMenu="matMenu" xPosition="before" class="cardWithShadow">
    @if (accountInfo) {
    <button mat-menu-item>
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >My Account
    </button>
    }@else {
    <button
      type="button"
      mat-menu-item
      [routerLink]="['/authentication/signin']"
    >
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="login-2" class="icon-18 d-flex"></i-tabler></mat-icon
      >Sign In
    </button>
    } @if (accountInfo) {
    <div class="p-x-12 m-t-12">
      <a
        href="javascript:;"
        mat-stroked-button
        color="primary"
        class="w-100"
        (click)="btnLogout()"
        >Logout</a
      >
    </div>
    }
  </mat-menu>
</mat-toolbar>
