<section class="py-[50px] max-[1199px]:py-[35px] bg-white">
  <div
    class="flex flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]"
  >
    <div class="flex flex-wrap w-full">
      <div class="w-full px-[12px]">
        <div class="bb-single-pro mb-[24px]">
          <div class="flex flex-wrap mx-[-12px]">
            <div class="min-[992px]:w-[66.66%] w-full px-[12px] mb-[24px]">
              <div class="max-[991px]:max-w-[500px] max-[991px]:m-auto">
                <div class="flex flex-wrap">
                  <div class="w-1/2 p-2 gap-4">
                    <img
                      class="w-full h-full rounded-tl-lg rounded-bl-lg cursor-pointer"
                      src="https://cdn0.hitched.co.uk/vendor/4649/3_2/640/jpg/image-9_4_314649-173038695951376.webp"
                      alt=""
                    />
                  </div>

                  <div class="w-1/2 p-2 flex flex-col gap-4">
                    <div class="grid grid-cols-2 gap-4">
                      <img
                        class="w-full h-auto cursor-pointer"
                        src="https://cdn0.hitched.co.uk/vendor/4649/3_2/640/jpg/woodboroughhallweddingphotographer-517_4_314649-170267610139085.webp"
                        alt=""
                      />
                      <img
                        class="w-full h-auto rounded-tr-lg cursor-pointer"
                        src="https://cdn0.hitched.co.uk/vendor/4649/3_2/640/jpg/1000011797_4_314649-170267381441104.webp"
                        alt=""
                      />
                    </div>
                    <img
                      class="w-full h-auto rounded-br-lg cursor-pointer"
                      src="https://cdn0.hitched.co.uk/vendor/4649/3_2/640/jpg/upstairs-dining-room-5_4_314649-169650225863378.webp"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="min-[992px]:w-[33.33%] w-full px-[20px] mb-[24px]">
              <div class="mt-2">
                <div class="mb-[20px]">
                  <h4
                    class="font-quicksand text-[22px] tracking-[0.03rem] font-bold leading-[1.2] text-[#222222]"
                  >
                    Woodborough Hall
                  </h4>
                </div>
                <div class="mb-4 flex items-center">
                  <span class="mr-2">
                    @for (item of [1, 2, 3, 4, 5]; track $index) {
                    <mat-icon
                      fontSet="material-icons-outlined"
                      class="text-lg text-[#fea99a]"
                      >star</mat-icon
                    >
                    }
                  </span>
                  <span class="font-semibold text-[14px] mr-2"
                    >4.9 Excellent
                  </span>
                  <span class="mr-2">.</span>
                  <span>
                    <a class="underline text-[#222222] text-[14px]">
                      4 reviews</a
                    >
                  </span>
                </div>
                <div class="flex items-center gap-4 mb-4">
                  <mat-icon class="mb-1" fontSet="material-icons-outlined"
                    >location_on</mat-icon
                  >
                  <span
                    class="underline text-[#3d4750] font-light cursor-pointer"
                    >Woodborough Hall, Nottingham</span
                  >
                </div>
                <div class="flex items-center gap-4 mb-6">
                  <img
                    width="24"
                    src="./../../../assets/images/svgs/web-browsing.svg"
                    alt="Web Browsing"
                    class="mx-1"
                  />
                  <span class="underline text-[#222222] cursor-pointer"
                    >Visite website</span
                  >
                </div>
                <div
                  class="shadow-[0_2px_8px_#00000026] p-10 rounded-lg bg-white mb-6"
                >
                  <div
                    class="flex items-center mb-4 border-b border-solid border-[#eee] p-8"
                  >
                    <mat-icon class="mr-4"
                      ><i-tabler name="coins"></i-tabler
                    ></mat-icon>
                    <span class="text-[#222]">Starting at 5.000.000đ</span>
                  </div>
                  <div class="flex items-center p-8">
                    <mat-icon fontSet="material-icons-outlined" class="mr-4"
                      >people_alt</mat-icon
                    >
                    <span class="text-[#222] mt-[2px]">20 to 180 guests</span>
                  </div>
                </div>
                <div class="flex justify-start ml-12 mb-1">
                  <div class="flex items-center mr-2">
                    <mat-icon class="text-[#fea99a]">bolt</mat-icon>
                    <span class="text-sm"> Response within 24 hours </span>
                  </div>
                </div>
                <div class="flex flex-wrap">
                  <div class="w-4/5 pr-4">
                    <button
                      mat-raised-button
                      color="primary"
                      class="w-full"
                      style="padding: 24px 0; font-weight: 600; font-size: 15px"
                    >
                      Request Pricing
                    </button>
                  </div>
                  <div class="w-1/5">
                    <button
                      mat-stroked-button
                      color="accent"
                      class="w-full"
                      style="padding: 23px 0"
                    >
                      <mat-icon style="margin: 0">phone_forwarded</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bb-single-pro-tab">
          <div
            class="bb-pro-tab mb-[24px] border-b border-solid border-[#d9d9d9] pb-[20px]"
          >
            <ul
              class="bb-pro-tab-nav flex flex-wrap mx-[-20px] max-[991px]:justify-center"
              id="ProTab"
            >
              <li class="nav-item relative leading-[28px] active">
                <a
                  class="nav-link px-[20px] text-[16px] text-[#686e7d] font-medium capitalize leading-[28px] tracking-[0.03rem] block active"
                  href="#detail"
                  >About</a
                >
              </li>
              <li class="nav-item relative leading-[28px]">
                <a
                  class="nav-link px-[20px] text-[16px] text-[#686e7d] font-medium capitalize leading-[28px] tracking-[0.03rem] block"
                  href="#information"
                  >Information</a
                >
              </li>
              <li class="nav-item relative leading-[28px]">
                <a
                  class="nav-link px-[20px] text-[16px] text-[#686e7d] font-medium capitalize leading-[28px] tracking-[0.03rem] block"
                  href="#reviews"
                  >Reviews</a
                >
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pro-pane" id="detail">
              <div class="p-[15px] rounded-[20px]">
                <div class="bb-details">
                  <p
                    class="mb-[12px] text-[#686e7d] leading-[28px] tracking-[0.03rem] font-light"
                  >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero, voluptatum. Vitae dolores alias repellat eligendi,
                    officiis, exercitationem corporis quisquam delectus cum non
                    recusandae numquam dignissimos molestiae magnam hic natus.
                    Cumque.
                  </p>
                  <div class="details-info">
                    <ul class="list-disc pl-[20px] mb-[0]">
                      <li
                        class="py-[5px] text-[15px] text-[#686e7d] leading-[28px] font-light"
                      >
                        Any Product types that You want - Simple, Configurable
                      </li>
                      <li
                        class="py-[5px] text-[15px] text-[#686e7d] leading-[28px] font-light"
                      >
                        Downloadable/Digital Products, Virtual Products
                      </li>
                      <li
                        class="py-[5px] text-[15px] text-[#686e7d] leading-[28px] font-light"
                      >
                        Inventory Management with Backordered items
                      </li>
                      <li
                        class="py-[5px] text-[15px] text-[#686e7d] leading-[28px] font-light"
                      >
                        Flatlock seams throughout.
                      </li>
                    </ul>
                    <ul class="list-disc pl-[20px] mb-[0]">
                      <li
                        class="py-[5px] text-[15px] text-[#686e7d] leading-[28px] font-light"
                      >
                        <span class="inline-flex font-medium min-w-[150px]"
                          >Highlights</span
                        >Form FactorWhole
                      </li>
                      <li
                        class="py-[5px] text-[15px] text-[#686e7d] leading-[28px] font-light"
                      >
                        <span class="inline-flex font-medium min-w-[150px]"
                          >Seller</span
                        >No Returns Allowed
                      </li>
                      <li
                        class="py-[5px] text-[15px] text-[#686e7d] leading-[28px] font-light"
                      >
                        <span class="inline-flex font-medium min-w-[150px]"
                          >Services</span
                        >Cash on Delivery available
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pro-pane" id="information" style="display: none">
              <div
                class="bb-inner-tabs border-[1px] border-solid border-[#eee] p-[15px] rounded-[20px]"
              >
                <div class="information">
                  <ul class="list-disc pl-[20px]">
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Weight</span
                      >
                      500 g
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Dimensions</span
                      >
                      17 × 15 × 3 cm
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Color</span
                      >
                      black,yellow,red
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Brand</span
                      >
                      Wonder Fort
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Form Factor</span
                      >Whole
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Quantity</span
                      >1
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Container Type</span
                      >Pouch
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Shelf Life</span
                      >12 Months
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Ingredients</span
                      >Dalchini, Dhaniya, Badi Elaichi, Laung
                    </li>
                    <li
                      class="text-[15px] font-light tracking-[0.03rem] leading-[28px] text-[#686e7d] py-[5px]"
                    >
                      <span class="inline-flex min-w-[130px] font-medium"
                        >Other Features</span
                      >Ingredient Type: Vegetarian
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-pro-pane" id="reviews" style="display: none">
              <div
                class="bb-inner-tabs border-[1px] border-solid border-[#eee] p-[15px] rounded-[20px]"
              >
                <div class="bb-reviews">
                  <div
                    class="reviews-bb-box flex mb-[24px] max-[575px]:flex-col"
                  >
                    <div
                      class="inner-image mr-[12px] max-[575px]:mr-[0] max-[575px]:mb-[12px]"
                    >
                      <img
                        src="assets/img/reviews/1.jpg"
                        alt="img-1"
                        class="w-[50px] h-[50px] max-w-[50px] rounded-[10px]"
                      />
                    </div>
                    <div class="inner-contact">
                      <h4
                        class="font-quicksand leading-[1.2] tracking-[0.03rem] mb-[5px] text-[16px] font-bold text-[#3d4750]"
                      >
                        Mariya Lykra
                      </h4>
                      <div class="bb-pro-rating flex">
                        <i
                          class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                        ></i>
                        <i
                          class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                        ></i>
                        <i
                          class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                        ></i>
                        <i
                          class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                        ></i>
                        <i
                          class="ri-star-line float-left text-[15px] mr-[3px] text-[#777]"
                        ></i>
                      </div>
                      <p
                        class="text-[14px] leading-[26px] font-light tracking-[0.03rem] text-[#686e7d]"
                      >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illo, hic expedita asperiores eos neque cumque impedit
                        quam, placeat laudantium soluta repellendus possimus a
                        distinctio voluptate veritatis nostrum perspiciatis est!
                        Commodi!
                      </p>
                    </div>
                  </div>
                  <div
                    class="reviews-bb-box flex mb-[24px] max-[575px]:flex-col"
                  >
                    <div
                      class="inner-image mr-[12px] max-[575px]:mr-[0] max-[575px]:mb-[12px]"
                    >
                      <img
                        src="assets/img/reviews/2.jpg"
                        alt="img-2"
                        class="w-[50px] h-[50px] max-w-[50px] rounded-[10px]"
                      />
                    </div>
                    <div class="inner-contact">
                      <h4
                        class="font-quicksand leading-[1.2] tracking-[0.03rem] mb-[5px] text-[16px] font-bold text-[#3d4750]"
                      >
                        Saddika Alard
                      </h4>
                      <div class="bb-pro-rating flex">
                        <i
                          class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                        ></i>
                        <i
                          class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                        ></i>
                        <i
                          class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                        ></i>
                        <i
                          class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                        ></i>
                        <i
                          class="ri-star-line float-left text-[15px] mr-[3px] text-[#777]"
                        ></i>
                      </div>
                      <p
                        class="text-[14px] leading-[26px] font-light tracking-[0.03rem] text-[#686e7d]"
                      >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illo, hic expedita asperiores eos neque cumque impedit
                        quam, placeat laudantium soluta repellendus possimus a
                        distinctio voluptate veritatis nostrum perspiciatis est!
                        Commodi!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="bb-reviews-form">
                  <h3
                    class="font-quicksand tracking-[0.03rem] leading-[1.2] mb-[8px] text-[20px] font-bold text-[#3d4750]"
                  >
                    Add a Review
                  </h3>
                  <div class="bb-review-rating flex mb-[12px]">
                    <span
                      class="pr-[10px] text-[15px] font-semibold leading-[26px] tracking-[0.02rem] text-[#3d4750]"
                      >Your ratting :</span
                    >
                    <div class="bb-pro-rating">
                      <i
                        class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                      ></i>
                      <i
                        class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                      ></i>
                      <i
                        class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                      ></i>
                      <i
                        class="ri-star-fill float-left text-[15px] mr-[3px] text-[#fea99a]"
                      ></i>
                      <i
                        class="ri-star-line float-left text-[15px] mr-[3px] text-[#777]"
                      ></i>
                    </div>
                  </div>
                  <form action="#">
                    <div class="input-box mb-[24px]">
                      <input
                        type="text"
                        placeholder="Name"
                        name="your-name"
                        class="w-full h-[50px] border-[1px] border-solid border-[#eee] pl-[20px] outline-[0] text-[14px] font-normal text-[#777] rounded-[20px] p-[10px]"
                      />
                    </div>
                    <div class="input-box mb-[24px]">
                      <input
                        type="email"
                        placeholder="Email"
                        name="your-email"
                        class="w-full h-[50px] border-[1px] border-solid border-[#eee] pl-[20px] outline-[0] text-[14px] font-normal text-[#777] rounded-[20px] p-[10px]"
                      />
                    </div>
                    <div class="input-box mb-[24px]">
                      <textarea
                        name="your-comment"
                        placeholder="Enter Your Comment"
                        class="w-full h-[100px] border-[1px] border-solid border-[#eee] py-[20px] pl-[20px] pr-[10px] outline-[0] text-[14px] font-normal text-[#777] rounded-[20px] p-[10px]"
                      ></textarea>
                    </div>
                    <div class="input-button">
                      <a
                        href="javascript:void(0)"
                        class="bb-btn-2 transition-all duration-[0.3s] ease-in-out h-[40px] inline-flex leading-[28px] tracking-[0.03rem] py-[4px] px-[15px] text-[14px] font-normal text-[#fff] bg-[#6c7fd8] rounded-[10px] border-[1px] border-solid border-[#6c7fd8] hover:bg-transparent hover:border-[#3d4750] hover:text-[#3d4750]"
                        >View Cart</a
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
