<section class="py-[50px] max-[1199px]:py-[35px] bg-white">
  <div
    class="flex flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]"
  >
    <div class="flex flex-wrap w-full">
      <div class="w-full px-[12px]">
        <div class="bb-single-pro mb-[24px]">
          <div class="flex flex-wrap mx-[-12px]">
            <div class="min-[992px]:w-[66.66%] w-full px-[12px] mb-[24px]">
              <div class="max-[991px]:max-w-[500px] max-[991px]:m-auto">
                <div class="flex flex-wrap">
                  <div class="w-1/2 p-2 gap-4">
                    <img
                      class="h-[361px] max-h-[361px] max-[667px]:h-[171px] w-full object-fit object-cover rounded-tl-lg rounded-bl-lg cursor-pointer"
                      [src]="
                        supplier && supplier.images
                          ? supplier.images[0].imageUrl
                          : ''
                      "
                      alt=""
                    />
                  </div>

                  <div class="w-1/2 p-2 flex flex-col gap-4">
                    <div class="grid grid-cols-2 gap-4">
                      <img
                        class="img-container object-cover cursor-pointer"
                        [src]="
                          supplier && supplier.images
                            ? supplier.images[1].imageUrl
                            : ''
                        "
                        alt=""
                      />
                      <img
                        class="img-container object-cover rounded-tr-lg cursor-pointer"
                        [src]="
                          supplier && supplier.images
                            ? supplier.images[2].imageUrl
                            : ''
                        "
                        alt=""
                      />
                    </div>
                    <div class="relative w-full">
                      <img
                        class="img-container object-cover rounded-br-lg cursor-pointer"
                        [src]="
                          supplier && supplier.images
                            ? supplier.images[3].imageUrl
                            : ''
                        "
                        alt=""
                      />
                      <button
                        class="absolute bottom-4 right-4 bg-white text-black px-4 py-2 rounded-lg shadow-md cursor-pointer"
                        (click)="openInFullScreen(supplier?.images?.length!)"
                      >
                        View photos {{ supplier?.images?.length }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="min-[992px]:w-[33.33%] w-full px-[20px] mb-[24px]">
              <div class="mt-2">
                <div class="mb-[20px]">
                  <h4
                    class="font-quicksand text-[22px] tracking-[0.03rem] font-bold leading-[1.2] text-[#222222]"
                  >
                    {{ supplier?.name }}
                  </h4>
                </div>
                <div class="mb-4 flex items-center">
                  <span class="mr-2">
                    @for (item of [1, 2, 3, 4, 5]; track $index) {
                    <mat-icon
                      fontSet="material-icons-outlined"
                      class="text-lg text-[#fea99a]"
                      >star</mat-icon
                    >
                    }
                  </span>
                  <span class="font-semibold text-[14px] mr-2"
                    >{{ supplier?.averageRating }}
                  </span>
                  <span class="mr-2">.</span>
                  <span>
                    <a
                      class="underline text-[#222222] text-[14px]"
                      routerLink="."
                      fragment="reviews"
                    >
                      {{ supplier?.totalRating }} reviews</a
                    >
                  </span>
                </div>
                <div class="flex items-center gap-4 mb-4">
                  <mat-icon
                    class="mb-1 w-full"
                    fontSet="material-icons-outlined"
                    style="overflow: initial !important"
                    >location_on</mat-icon
                  >
                  <span
                    class="underline text-[#3d4750] font-light cursor-pointer ml-4"
                    routerLink="."
                    fragment="map"
                    >{{ supplier?.address }}</span
                  >
                </div>
                <div class="flex items-center gap-4 mb-6">
                  <img
                    width="24"
                    src="./../../../assets/images/svgs/web-browsing.svg"
                    alt="Web Browsing"
                    class="mx-1"
                  />
                  <a
                    [href]="supplier?.websiteUrl"
                    class="underline text-[#222222] cursor-pointer"
                    target="_blank"
                    >Visite website</a
                  >
                </div>
                @if (supplier?.discount! > 0) {
                <div class="flex items-center gap-4 mb-6">
                  <mat-icon class="mx-1">local_offer</mat-icon>
                  <span class="text-red-500 font-light cursor-pointer"
                    >{{ supplier?.discount }}% discount</span
                  >
                </div>
                }

                <div
                  class="shadow-[0_2px_8px_#00000026] p-10 rounded-lg bg-white mb-6"
                >
                  <div class="flex items-center p-8">
                    <mat-icon class="mr-4"
                      ><i-tabler name="coins"></i-tabler
                    ></mat-icon>
                    <span class="text-[#222]"
                      >Starting at {{ supplier?.price! | vndCurrency }}</span
                    >
                  </div>
                  <!-- <div class="flex items-center p-8">
                    <mat-icon fontSet="material-icons-outlined" class="mr-4"
                      >people_alt</mat-icon
                    >
                    <span class="text-[#222] mt-[2px]">20 to 180 guests</span>
                  </div> -->
                </div>
                <div class="flex justify-start ml-12 mb-1">
                  <div class="flex items-center mr-2">
                    <mat-icon class="text-[#fea99a]">bolt</mat-icon>
                    <span class="text-sm">
                      @if (supplier?.responseTimeStart === '00:00:00' &&
                      supplier?.responseTimeEnd === '00:00:00') { Response time
                      within 24 hours } @else { Response time:
                      {{ getFormattedTime(supplier?.responseTimeStart) }} -
                      {{ getFormattedTime(supplier?.responseTimeEnd) }}
                      }</span
                    >
                  </div>
                </div>
                <div class="flex flex-wrap">
                  <div class="w-4/5 pr-4">
                    <button
                      mat-raised-button
                      color="primary"
                      class="w-full"
                      style="padding: 24px 0; font-weight: 600; font-size: 15px"
                      (click)="openRequestPricingDialog()"
                    >
                      Request Pricing
                    </button>
                  </div>
                  <div class="w-1/5">
                    <button
                      mat-stroked-button
                      color="accent"
                      class="w-full"
                      style="padding: 23px 0"
                    >
                      <mat-icon style="margin: 0">phone_forwarded</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bb-single-pro-tab">
          <div
            class="bb-pro-tab mb-[24px] border-b border-solid border-[#d9d9d9] pb-[20px]"
          >
            <ul
              class="bb-pro-tab-nav flex flex-wrap mx-[-20px] max-[991px]:justify-center"
              id="ProTab"
            >
              <li class="nav-item relative leading-[28px] active">
                <a
                  class="nav-link px-[20px] text-[16px] text-[#686e7d] font-medium capitalize leading-[28px] tracking-[0.03rem] block active"
                  routerLink="."
                  fragment="about"
                  >About</a
                >
              </li>
              <li class="nav-item relative leading-[28px]">
                <a
                  class="nav-link px-[20px] text-[16px] text-[#686e7d] font-medium capitalize leading-[28px] tracking-[0.03rem] block"
                  routerLink="."
                  fragment="social"
                  >Social Networks</a
                >
              </li>
              <li class="nav-item relative leading-[28px]">
                <a
                  class="nav-link px-[20px] text-[16px] text-[#686e7d] font-medium capitalize leading-[28px] tracking-[0.03rem] block"
                  routerLink="."
                  fragment="faqs"
                  >FAQs</a
                >
              </li>
              <li class="nav-item relative leading-[28px]">
                <a
                  class="nav-link px-[20px] text-[16px] text-[#686e7d] font-medium capitalize leading-[28px] tracking-[0.03rem] block"
                  routerLink="."
                  fragment="reviews"
                  >Reviews <span class="text-sm">(4)</span></a
                >
              </li>
              <li class="nav-item relative leading-[28px]">
                <a
                  class="nav-link px-[20px] text-[16px] text-[#686e7d] font-medium capitalize leading-[28px] tracking-[0.03rem] block"
                  routerLink="."
                  fragment="map"
                  >Map</a
                >
              </li>
            </ul>
          </div>
          <div class="tab-content mb-6">
            <div class="tab-pro-pane" id="about">
              <div class="rounded-[20px]">
                <div class="bb-details">
                  <p class="font-semibold md:text-xl max-[667px]:text-lg mb-4">
                    About:
                  </p>
                  <p class="font-light mb-4">On Bonheur since 2025</p>
                  <p class="mb-[12px]" [innerHTML]="supplier?.description"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-social mb-4" id="social">
            <div class="rounded-[20px]">
              <div class="bb-details">
                <div class="mb-1">
                  <p class="font-semibold md:text-xl max-[667px]:text-lg">
                    Follow On:
                  </p>
                </div>
                <div class="flex flex-col py-4">
                  @for (item of supplier?.socialNetworks; track $index) {
                  <div class="flex items-center gap-8">
                    <div class="mb-4">
                      <img
                        [src]="item.socialNetwork.imageUrl"
                        alt=""
                        width="24"
                        height="24"
                        class="mt-4"
                      />
                    </div>
                    <div>
                      <a
                        class="underline text-[#222222] text-[14px]"
                        [href]="item.url"
                        target="_blank"
                        >{{ item.socialNetwork.name }}</a
                      >
                    </div>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
          <div class="mb-10" id="faqs">
            <div class="mb-4">
              <p class="font-semibold md:text-xl max-[667px]:text-lg">
                Frequently asked questions
              </p>
            </div>
            <div class="flex flex-col">
              @for (item of supplier?.faqs; track $index) {
              <div
                class="flex flex-col gap-10 border-b border-solid border-[#eee] py-4"
              >
                <p class="font-semibold">{{ item.question }}?</p>
                <p>{{ item.answer }}</p>
              </div>
              }
            </div>
          </div>
          <div
            class="flex items-center justify-between bg-white shadow-[0_2px_8px_#00000026] rounded-lg mb-10 py-8 px-4"
          >
            <div class="flex items-center gap-4">
              <img
                src="./../../../assets/images/svgs/paperAndPencil.svg"
                alt=""
                width="40"
                height="40"
                class="mx-4"
              />
              <p class="mx-2 font-semibold text-base">
                Do you have any questions?
              </p>
            </div>
            <div>
              <button mat-stroked-button color="primary" style="padding: 22px">
                Request Pricing
              </button>
            </div>
          </div>
          <div class="mb-10" id="reviews">
            <p class="font-semibold md:text-xl max-[667px]:text-lg mb-6">
              Reviews For {{ supplier?.name }}
            </p>
            <div
              class="flex items-center gap-6 bg-white shadow-[0_2px_8px_#00000026] rounded-lg mb-10 py-6 px-4"
            >
              <mat-icon>info_outline</mat-icon>
              <p>
                We're all about trust. Our community relies on honest reviews to
                make your big decisions easier.
              </p>
            </div>
            <div
              class="flex items-center flex-row md:gap-80 max-[667px]:gap-10 flex-wrap mb-10 border-b border-solid border-[#eee] pb-10"
            >
              <div class="flex flex-col">
                <div class="flex items-center gap-6 mb-2 mx-1">
                  <span class="text-lg font-bold">4.9</span>
                  <span class="text-base font-semibold">Excellent</span>
                </div>
                <div class="flex items-center mb-4">
                  @for (item of [1, 2, 3, 4, 5]; track $index) {
                  <mat-icon
                    fontSet="material-icons-outlined"
                    class="text-xl text-[#fea99a]"
                    style="font-size: 26px"
                    >star</mat-icon
                  >
                  }
                </div>
                <div class="mb-4 mx-1">
                  <span class="text-[#222222] font-medium">4 Reviews</span>
                </div>
                <div class="mb-2">
                  <button
                    mat-raised-button
                    color="accent"
                    style="
                      padding: 24px 60px;
                      font-weight: 600;
                      font-size: 15px;
                    "
                    class="w-full"
                    routerLink="/review-detail/{{ supplier?.id }}"
                  >
                    Write a review
                  </button>
                </div>
              </div>
              <div>
                @if (averageScores) {
                <ul class="space-y-4">
                  <li class="flex items-center justify-between gap-30">
                    <span>Quality of the service</span>
                    <div class="flex items-center gap-10">
                      <mat-progress-bar
                        style="width: 150px"
                        mode="determinate"
                        [value]="
                          (averageScores.averageQualityOfService * 100) / 5
                        "
                        color="accent"
                      ></mat-progress-bar>
                      <span>{{ averageScores.averageQualityOfService }}</span>
                    </div>
                  </li>
                  <li class="flex items-center justify-between">
                    <span>Response time</span>
                    <div class="flex items-center gap-10">
                      <mat-progress-bar
                        style="width: 150px"
                        mode="determinate"
                        [value]="(averageScores.averageResponseTime * 100) / 5"
                        color="accent"
                      ></mat-progress-bar>
                      <span>{{ averageScores.averageResponseTime }}</span>
                    </div>
                  </li>
                  <li class="flex items-center justify-between gap-2">
                    <span>Professionalism</span>
                    <div class="flex items-center gap-10">
                      <mat-progress-bar
                        style="width: 150px"
                        mode="determinate"
                        [value]="
                          (averageScores.averageProfessionalism * 100) / 5
                        "
                        color="accent"
                      ></mat-progress-bar>
                      <span>{{ averageScores.averageProfessionalism }}</span>
                    </div>
                  </li>
                  <li class="flex items-center justify-between">
                    <span>Value for money</span>
                    <div class="flex items-center gap-10">
                      <mat-progress-bar
                        style="width: 150px"
                        mode="determinate"
                        [value]="(averageScores.averageValueOfMoney * 100) / 5"
                        color="accent"
                      ></mat-progress-bar>
                      <span>{{ averageScores.averageValueOfMoney }}</span>
                    </div>
                  </li>
                  <li class="flex items-center justify-between">
                    <span>Flexibility</span>
                    <div class="flex items-center gap-10">
                      <mat-progress-bar
                        style="width: 150px"
                        mode="determinate"
                        [value]="(averageScores.averageFlexibility * 100) / 5"
                        color="accent"
                      ></mat-progress-bar>
                      <span>{{ averageScores.averageFlexibility }}</span>
                    </div>
                  </li>
                </ul>
                }
              </div>
            </div>
            <ngx-slick-carousel
              class="carousel px-4"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              @for (item of supplier?.reviews; track $index) {
              <div ngxSlickItem class="slide">
                <div
                  class="flex flex-col items-center justify-center gap-4 px-4 max-[1024px]:px-1 max-[667px]:px-3"
                >
                  <mat-card
                    class="relative h-[460px] w-full flex flex-col justify-between bg-white shadow-lg rounded-md"
                    appearance="outlined"
                    data-aos="fade-up"
                    data-aos-duration="1500"
                    data-aos-delay="200"
                  >
                    <div class="py-4 px-4">
                      <div class="flex items-center gap-6 mb-4">
                        <div>
                          <img
                            [src]="item.user.pictureUrl"
                            class="rounded-full object-cover w-14 h-14"
                            alt=""
                          />
                        </div>
                        <div class="flex flex-col">
                          <span class="font-semibold text-[#222222]">{{
                            item.user.fullName
                          }}</span>
                          <span class="text-[#3d4750] text-[14px]"
                            >Sent on 21/02/2025</span
                          >
                        </div>
                      </div>
                      <div class="flex items-center gap-6 mb-4">
                        <div class="flex items-center">
                          @for (item of [1, 2, 3, 4, 5]; track $index) {
                          <mat-icon
                            fontSet="material-icons-outlined"
                            class="text-lg text-[#fea99a]"
                            >star</mat-icon
                          >
                          }
                        </div>
                        <div class="mt-2">
                          <span class="font-semibold">{{
                            (item.flexibility +
                              item.professionalism +
                              item.qualityOfService +
                              item.responseTime +
                              item.valueForMoney) /
                              5
                          }}</span>
                        </div>
                      </div>
                      <p class="font-semibold mb-4 text-[#222222]">
                        {{ item.summaryExperience }}
                      </p>
                      <p class="text-[#3d4750]">
                        {{ item.content }}
                      </p>
                    </div>
                  </mat-card>
                </div>
              </div>
              }
            </ngx-slick-carousel>
          </div>
          <div class="mb-6" id="map">
            <p class="font-semibold md:text-xl max-[667px]:text-lg mb-6">Map</p>
            <div class="map-wrap">
              <div class="map" #map></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
