<section
  [ngClass]="{
  'py-10': !isEditMode,
}"
>
  <div class="container mx-auto">
    @if (!isEditMode) {
    <div
      class="flex justify-start items-center mb-10 hover:text-red-500 cursor-pointer"
      routerLink="/supplier/onboarding"
    >
      <mat-icon class="mr-2"><i-tabler name="arrow-left"></i-tabler></mat-icon>
      <span class="font-semibold text-base underline">Quay lại</span>
    </div>
    }
    <div class="mb-6">
      @if (!isEditMode) {
      <h1 class="text-2xl font-bold">Thêm thông tin về doanh nghiệp của bạn</h1>
      }@else {
      <h1 class="text-2xl font-bold">
        Chỉnh sửa thông tin doanh nghiệp của bạn
      </h1>
      }
    </div>
    <div
      class="flex items-center bg-[#f8f8f8] py-6 px-8 rounded-lg mb-10 gap-24 max-[667px]:flex-wrap max-[667px]:gap-6 max-[667px]:justify-center"
    >
      <div class="">
        <img
          src="/assets/images/svgs/paperAndPencil.svg"
          alt="Edit Business Info"
        />
      </div>
      <div>
        <h2
          class="md:text-base font-semibold max-[667px]::text-sm max-[667px]:mb-1"
        >
          Doanh nghiệp của bạn có thông tin về dịch vụ cưới của bạn để thu hút
          và chuyển đổi đối tượng là các cặp đôi sắp cưới.
        </h2>
        <p class="md:text-[#6c6c6c] md:text-sm max-[667px]::text-xs">
          Điều quan trọng là mọi thông tin trên cửa hàng của bạn phải được cập
          nhật và chính xác.
        </p>
      </div>
    </div>
    <form [formGroup]="formBusinessInfo" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <h2 class="text-lg font-semibold mb-4">
          Thông tin doanh nghiệp
          <span class="text-red-500">*</span>
        </h2>

        <div class="bg-[#e9f6f8] py-4 px-4 rounded-lg mb-4">
          Thông báo và cập nhật từ Bonheur sẽ được gửi đến địa chỉ email này.
        </div>

        <div class="py-6 px-6 border border-[#d9d9d9] border-solid rounded-lg">
          <div class="max-w-sm">
            <div class="flex flex-col pt-2">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Email <span class="text-red-500">*</span></mat-label
              >
              <div class="flex items-center w-full gap-10">
                <div class="w-5/6">
                  <mat-form-field
                    appearance="fill"
                    class="w-full"
                    color="primary"
                  >
                    <input
                      matInput
                      type="email"
                      disabled
                      [value]="formBusinessInfo.get('email')?.value"
                    />
                  </mat-form-field>
                </div>

                <div class="w-1/6">
                  <a
                    class="underline text-xs cursor-pointer hover:text-orange-500"
                    >Thay đổi</a
                  >
                </div>
              </div>
            </div>
            <div class="flex flex-col pt-2">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Tên doanh nghiệp <span class="text-red-500">*</span></mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  required
                  [class.is-invalid]="
                    formBusinessInfo.get('name')?.invalid &&
                    formBusinessInfo.get('name')?.touched
                  "
                  placeholder="Enter your business name"
                />
                @if(formBusinessInfo.get('name')?.hasError('required')) {
                <mat-error style="font-size: 12px">
                  Tên doanh nghiệp không được để trống
                </mat-error>
                } @if (formBusinessInfo.get('name')?.hasError('minlength')) {
                <mat-error style="font-size: 12px">
                  Tên phải có ít nhất 2 ký tự
                </mat-error>
                } @if (formBusinessInfo.get('name')?.hasError('maxlength')) {
                <mat-error style="font-size: 12px">
                  Tên không được vượt quá 50 ký tự
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex flex-col pt-2">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Số điện thoại<span class="text-red-500">*</span></mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="text"
                  formControlName="phoneNumber"
                  required
                  [class.is-invalid]="
                    formBusinessInfo.get('phoneNumber')?.invalid &&
                    formBusinessInfo.get('phoneNumber')?.touched
                  "
                  placeholder="Enter your phone number"
                />
                @if(formBusinessInfo.get('phoneNumber')?.hasError('required')) {
                <mat-error style="font-size: 12px">
                  Số điện thoại không được để trống
                </mat-error>
                } @if(formBusinessInfo.get('phoneNumber')!.hasError('pattern'))
                {
                <mat-error class="fs-14">
                  Số điện thoại không hợp lệ
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex flex-col pt-2">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Loại hình kinh doanh
                <span class="text-red-500">*</span></mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-full"
                color="primary"
              >
                <mat-select
                  formControlName="categoryId"
                  [class.is-invalid]="
                    formBusinessInfo.get('categoryId')?.invalid &&
                    formBusinessInfo.get('categoryId')?.touched
                  "
                >
                  @for (supplier of supplierCategories; track $index) {
                  <mat-option [value]="supplier.id">{{
                    supplier.name
                  }}</mat-option>
                  }
                </mat-select>
                @if(formBusinessInfo.get('categoryId')?.hasError('required')) {
                <mat-error style="font-size: 12px">
                  Loại hình kinh doanh không được để trống
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex flex-col pt-2">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Thời gian phản hồi bắt đầu
                <span class="text-red-500">*</span></mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="time"
                  formControlName="responseTimeStart"
                  required
                  [class.is-invalid]="
                    formBusinessInfo.get('responseTimeStart')?.invalid &&
                    formBusinessInfo.get('responseTimeStart')?.touched
                  "
                  placeholder="Enter your response time start"
                />
                @if(formBusinessInfo.get('responseTimeStart')?.hasError('required'))
                {
                <mat-error style="font-size: 12px">
                  Thời gian phản hồi bắt đầu không được để trống
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="flex flex-col pt-2">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Thời gian phản hồi kết thúc
                <span class="text-red-500">*</span></mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="time"
                  formControlName="responseTimeEnd"
                  required
                  [class.is-invalid]="
                    formBusinessInfo.get('responseTimeEnd')?.invalid &&
                    formBusinessInfo.get('responseTimeEnd')?.touched
                  "
                  placeholder="Enter your response time end"
                />
                @if(formBusinessInfo.get('responseTimeEnd')?.hasError('required'))
                {
                <mat-error style="font-size: 12px">
                  Thời gian phản hồi kết thúc không được để trống
                </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="mb-4 flex flex-col pt-2">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Website
              </mat-label>
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="text"
                  formControlName="websiteUrl"
                  [class.is-invalid]="
                    formBusinessInfo.get('websiteUrl')?.invalid &&
                    formBusinessInfo.get('websiteUrl')?.touched
                  "
                  placeholder="Enter your website URL"
                />
              </mat-form-field>
            </div>
            <div class="mb-4 flex flex-col pt-2">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Giá bắt đầu từ (VNĐ) <span class="text-red-500">*</span>
              </mat-label>
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  type="number"
                  formControlName="price"
                  [class.is-invalid]="
                    formBusinessInfo.get('price')?.invalid &&
                    formBusinessInfo.get('price')?.touched
                  "
                  min="0"
                  placeholder="Enter your price"
                />
                @if(formBusinessInfo.get('price')?.hasError('required')) {
                <mat-error style="font-size: 12px">
                  Giá không được để trống
                </mat-error>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-lg font-semibold mb-4">
          Mô tả doanh nghiệp và dịch vụ của bạn

          <span class="text-red-500">*</span>
        </h2>

        <div class="bg-[#e9f6f8] py-4 px-4 rounded-lg mb-4">
          <p>
            Bạn muốn gây ấn tượng với các cặp đôi? Đã đến lúc giới thiệu! Giải
            thích lý do tại sao doanh nghiệp của bạn là thành phần chính trong
            đám cưới của họ. Nhóm nội dung của chúng tôi sẽ sử dụng thông tin
            bạn cung cấp để tạo ra một quảng cáo bắt mắt.
          </p>
          <div>
            <p>
              <span class="font-semibold mr-1">Pro tip: </span> Mô tả sản phẩm
              và dịch vụ của bạn. Giải thích cách bạn làm việc với các cặp đôi.
              Chia sẻ một giai thoại ngọt ngào hoặc bất ngờ. Vui lòng không cung
              cấp thông tin liên lạc.
            </p>
          </div>
        </div>
        @if (Editor && config) {
        <div class="mb-6">
          <ckeditor
            class="w-full"
            tagName="textarea"
            formControlName="description"
            [editor]="Editor"
            [config]="config"
            [class.is-invalid]="
              formBusinessInfo.get('description')?.invalid &&
              formBusinessInfo.get('description')?.touched
            "
            (blur)="formBusinessInfo.get('description')?.markAsTouched()"
          >
          </ckeditor>
          @if (formBusinessInfo.get('description')?.touched) { @if
          (formBusinessInfo.get('description')?.hasError('required')) {
          <mat-error class="mt-2"> Mô tả không được để trống </mat-error>
          } @if (formBusinessInfo.get('description')?.hasError('minlength')) {
          <mat-error class="mt-2"> Mô tả phải có ít nhất 100 ký tự </mat-error>
          } @if (formBusinessInfo.get('description')?.hasError('maxlength')) {
          <mat-error class="mt-2"> Mô tả dài tối đa 10000 ký tự </mat-error>
          } }
        </div>

        }
        <div>
          <p class="text-sm text-[#6c6c6c] mb-4">
            Nội dung được xuất bản phải đáp ứng
            <a
              class="cursor-pointer underline hover:text-primary"
              routerLink="/"
            >
              Điều khoản sử dụng của chúng tôi .</a
            >
          </p>
          <button
            mat-raised-button
            color="primary"
            style="padding: 20px"
            class="font-bold"
          >
            Lưu thay đổi
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
