<section>
  <div class="container mx-auto">
    <div class="mb-6">
      <h1 class="text-2xl font-bold">Ưu Đãi</h1>
    </div>
    <div
      class="flex items-center bg-[#f8f8f8] py-4 px-4 rounded-lg mb-10 gap-10 max-[667px]:flex-wrap max-[667px]:gap-6 max-[667px]:justify-center"
    >
      <div>
        <img
          src="/assets/images/svgs/offer.svg"
          alt="Ưu đãi"
          width="80"
          height="80"
        />
      </div>
      <div>
        <h2 class="md:text-base mb-2 max-[667px]:text-sm">
          Thêm <span class="font-semibold">ưu đãi</span> vào gian hàng của bạn
          để thu hút nhiều khách hàng hơn và
          <span class="font-semibold">tăng số lượng tiếp cận.</span>
        </h2>
      </div>
    </div>
    <div
      class="bg-white rounded-[8px] border border-solid border-[#d9d9d9] mb-6"
    >
      <header
        style="
          padding: 30px 30px 50px;
          background: url(/assets/images/backgrounds/bg_hero-promos.jpg)
            no-repeat scroll 50% 50% #333;
          background-size: cover;
        "
      >
        <h3 class="text-lg font-semibold mb-4">
          Hấp dẫn khách hàng với ưu đãi giảm giá đặc biệt
        </h3>
        <p>
          Kích hoạt các chương trình giảm giá dành riêng cho khách hàng trên nền
          tảng của chúng tôi. Giảm giá sẽ được áp dụng cho các dịch vụ bạn cung
          cấp.
        </p>
      </header>
      <div class="py-10">
        <div class="flex flex-wrap items-center justify-center gap-20">
          @for (item of discounts; track $index) {
          <div
            (click)="selectDiscount(item.discount)"
            class="py-4 px-8 flex items-center justify-center border border-solid border-[#d9d9d9] rounded-[8px] cursor-pointer transition-all duration-300"
            [ngClass]="{
              'bg-[#fa9b46] text-white': selectedDiscount === item.discount,
              'hover:bg-[#fa9b46] hover:text-white':
                selectedDiscount !== item.discount
            }"
          >
            <span>{{ item.description }}</span>
          </div>
          }
        </div>
      </div>
      <div class="flex items-center justify-center mb-6">
        <button
          mat-raised-button
          type="button"
          color="accent"
          style="font-weight: bold; padding: 24px 20px"
          (click)="saveDiscount()"
        >
          Lưu thay đổi
        </button>
      </div>
    </div>
  </div>
</section>
