<div class="subscription-package-dialog">
  <div class="my-2 p-0">
    <h2 mat-dialog-title>
      @if (isEditMode == true) { Update AdPackage } @else{ Add AdPackage }
    </h2>
  </div>
  <form [formGroup]="adPackageForm" (ngSubmit)="onSubmit()" class="mx-3">
    <div class="flex flex-row">
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
        @if(adPackageForm.get('title')?.errors?.['required']){
        <mat-error> Title is required. </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="flex flex-row">
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Description"
          formControlName="description"
        />
        @if(adPackageForm.get('description')?.errors?.['required']){
        <mat-error> Description is required. </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="flex flex-row">
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Price</mat-label>
        <div class="flex flex-row">
          <input matInput placeholder="Price" formControlName="price" />
          <h5 class="fw-bold">(VND)</h5>
        </div>
        @if(adPackageForm.get('price')?.errors?.['required']) {
        <mat-error>Price is required.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Active</mat-label>
        <mat-select appearance="outline" formControlName="isActive">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Type</mat-label>
        <mat-select formControlName="adType">
          @for (item of adTypes; track item) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-row">
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerStartDate"
          formControlName="startDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerStartDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 mx-2 my-2">
        <mat-label>End Date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerEndDate"
          formControlName="endDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerEndDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="flex justify-end">
      <div mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          class="flex items-center mx-1 p-20 text-white text-sm font-medium shadow-md transition-colors duration-200"
          type="submit"
        >
          {{ isEditMode ? "Update" : "Add" }}
        </button>
        <button
          mat-raised-button
          type="button"
          color="warn"
          mat-dialog-close
          class="flex items-center mx-1 p-20 text-white text-sm font-medium shadow-md transition-colors duration-200"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
