<div class="bg-[#fff] max-[1281px]:px-[30px] px-[350px]">
  <div class="flex flex-wrap py-10 border-t-[1px] border-solid border-[#eee]">
    <div class="max-[664px]:hidden w-1/5 max-w-[200px] px-2">
      <h5 class="text-xl font-bold my-[10px] pl-4">By category</h5>
      <ul class="mt-5 pt-2 pl-4 list-disc">
        @for (group of groupSuppliersByCategory(); track group.category.id) {
        <li class="mb-[15px] flex justify-between">
          <span>{{ group.category.name }}</span>
          <span>{{ favoriteCount + group.suppliers.length }}</span>
        </li>
        }
      </ul>
    </div>

    <div class="w-4/5 px-10">
      <h1 class="text-2xl font-bold mx-1 my-[10px]">Wedding Venues</h1>
      <div
        class="grid lg:grid-cols-3 xl:grid-cols-3 max-[667px]:grid-cols-1 md:grid-cols-2 grid-rows-5 gap-13 max-[667px]:place-content-center"
      >
        @for (fs of favoriteSuppliers; track $index) {
        <div class="px-3">
          <div
            class="relative overflow-hidden border-[1px] border-solid border-[#eee] w-full max-w-[340px] my-5"
          >
            <div class="absolute right-1 z-10 top-1">
              <button (click)="deleteFavoriteSupplier(fs.supplierId)">
                <mat-icon
                  fontSet="material-icons-outlined"
                  style="font-size: 24px"
                  class="text-slate-100"
                  >close</mat-icon
                >
              </button>
            </div>
            <div
              class="relative transition-transform duration-300 transform hover:scale-110 border-[1px] border-solid border-[#eee] w-full h-[180px] md:h-[150px] xl:h-[180px]"
              [ngStyle]="{
                'background-image': 'url(' + (fs?.supplier?.images?.[0]?.imageUrl || 'assets/default-image.jpg') + ')',
                'background-size': 'cover',
                'background-position': 'center',
              }"
            >
              <div class="absolute inset-0 bg-black opacity-30"></div>
              <div
                class="absolute pb-10 left-2 bottom-2 text-sm text-white w-40 overflow-hidden whitespace-nowrap text-ellipsis"
              >
                {{ fs.supplier?.category?.name }}
              </div>
              <div
                class="absolute pb-5 left-1 bottom-1 text-lg font-bold text-white px-1 w-40 overflow-hidden whitespace-nowrap text-ellipsis"
              >
                {{ fs.supplier?.name }}
              </div>

              <div
                class="flex absolute left-1 bottom-1 text-lg font-bold text-white px-1"
              >
                <div id="container" [class.readOnly]="readonly">
                  <fa-icon
                    [class.rated]="rating >= 5"
                    [icon]="faStar"
                    (click)="setRating(5)"
                  ></fa-icon>
                  <fa-icon
                    [class.rated]="rating >= 4"
                    [icon]="faStar"
                    (click)="setRating(4)"
                  ></fa-icon>

                  <fa-icon
                    [class.rated]="rating >= 3"
                    [icon]="faStar"
                    (click)="setRating(3)"
                  ></fa-icon>

                  <fa-icon
                    [class.rated]="rating >= 2"
                    [icon]="faStar"
                    (click)="setRating(2)"
                  ></fa-icon>

                  <fa-icon
                    [class.rated]="rating >= 1"
                    [icon]="faStar"
                    (click)="setRating(1)"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div class="flex justify-between mt-[25px] mx-4">
              <p class="text-[#3d4750] text-[14px] mt-2">
                {{ fs?.supplier?.address }}
              </p>
            </div>
            <div class="flex justify-between font-bold mt-[32px] mx-4">
              <h4 class="uppercase h-[17px] grid justify-items-start">
                Rating
              </h4>
              <h4 class="uppercase w-[164px] h-[17px] grid justify-items-end">
                Price
              </h4>
            </div>
            <div class="flex justify-between mt-[10px] mx-4">
              <div class="flex items-center">
                @if (fs.supplier?.averageRating) {
                <span class="text-[#fabb00] text-xl mb-[4px]">★</span>
                <span class="text-sm mr-1"></span
                >{{ fs.supplier?.averageRating }}.0 }
              </div>
              <div class="flex items-center">
                <p class="text-md">
                  {{ fs.supplier?.price || 0 | vndCurrency }}
                </p>
              </div>
            </div>

            <div class="flex font-bold mt-[27px] pb-[20px] mx-4"></div>
            <div
              class="relative border-t border-solid border-[#d9d9d9] bg-[#f5f5f5] rounded-b-lg flex w-full h-[56px]"
            >
              <div class="absolute inset-0 flex items-center justify-center">
                <i-tabler name="mail" class="icon-20"></i-tabler>
                <p class="text-[16px] ml-1 cursor-pointer">Contact</p>
              </div>
            </div>
          </div>
        </div>

        }
      </div>
    </div>
  </div>
</div>
