<div class="footer-container border-t-[1px] border-solid border-[#eee]">
  <div class="footer-top py-[50px] max-[1199px]:py-[35px]">
    <div
      class="flex flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]"
    >
      <div
        class="flex flex-wrap w-full max-[991px]:mb-[-30px] aos-init aos-animate"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="200"
      >
        <div
          class="min-[992px]:w-[25%] max-[991px]:w-full w-full px-[12px] bb-footer-toggle bb-footer-cat"
        >
          <div
            class="bb-footer-widget bb-footer-company flex flex-col max-[991px]:mb-[24px]"
          >
            <img
              src=""
              class="bb-footer-logo max-w-[144px] mb-[30px] max-[767px]:max-w-[130px]"
              alt="Bonheur"
            />
            <img
              src=""
              class="bb-footer-dark-logo max-w-[144px] mb-[30px] max-[767px]:max-w-[130px] hidden"
              alt="Bonheur"
            />

            <p
              class="bb-footer-detail max-w-[400px] mb-[30px] p-[0] font-Poppins text-[14px] leading-[27px] font-normal text-[#686e7d] inline-block relative max-[1399px]:text-[15px] max-[1199px]:text-[14px]"
            >
              Let us make your special day unforgettable with tailored services,
              elegant designs, and seamless planning.
            </p>
            <div class="bb-app-store m-[-7px] flex flex-wrap">
              <a href="javascript:void(0)" class="app-img">
                <img
                  src="assets/images/logos/android.png"
                  class="adroid max-w-[140px] m-[7px] rounded-[5px] max-[1399px]:max-w-[120px]"
                  alt="apple"
                />
              </a>
              <a href="javascript:void(0)" class="app-img">
                <img
                  src="assets/images/logos/apple.png"
                  class="apple max-w-[140px] m-[7px] rounded-[5px] max-[1399px]:max-w-[120px]"
                  alt="apple"
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="min-[992px]:w-[16.66%] max-[991px]:w-full w-full px-[12px] bb-footer-toggle bb-footer-info"
        >
          <div class="bb-footer-widget">
            <h4
              class="bb-footer-heading font-quicksand leading-[1.2] text-[18px] font-bold mb-[20px] text-[#3d4750] tracking-[0] relative block w-full pb-[15px] capitalize border-b-[1px] border-solid border-[#eee] max-[991px]:text-[14px]"
            >
              Category
              <div class="bb-heading-res">
                <i class="ri-arrow-down-s-line"></i>
              </div>
            </h4>
            <div
              class="bb-footer-links bb-footer-dropdown max-[991px]:mb-[35px]"
            >
              <ul class="align-items-center">
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Suppliers</a
                  >
                </li>
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Planning Tools</a
                  >
                </li>
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                  ></a>
                </li>
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Wedding Websites</a
                  >
                </li>
                <li class="bb-footer-link leading-[1.5] flex items-center">
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Wedding Shop</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="min-[992px]:w-[16.66%] max-[991px]:w-full w-full px-[12px] bb-footer-toggle bb-footer-account"
        >
          <div class="bb-footer-widget">
            <h4
              class="bb-footer-heading font-quicksand leading-[1.2] text-[18px] font-bold mb-[20px] text-[#3d4750] tracking-[0] relative block w-full pb-[15px] capitalize border-b-[1px] border-solid border-[#eee] max-[991px]:text-[14px]"
            >
              Company
            </h4>
            <div
              class="bb-footer-links bb-footer-dropdown max-[991px]:mb-[35px]"
            >
              <ul class="align-items-center">
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >About us</a
                  >
                </li>
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Legal Notice</a
                  >
                </li>
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Terms &amp; conditions</a
                  >
                </li>
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Secure payment</a
                  >
                </li>
                <li class="bb-footer-link leading-[1.5] flex items-center">
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Contact us</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="min-[992px]:w-[16.66%] max-[991px]:w-full w-full px-[12px] bb-footer-toggle bb-footer-service"
        >
          <div class="bb-footer-widget">
            <h4
              class="bb-footer-heading leading-[1.2] text-[18px] font-bold mb-[20px] text-[#3d4750] tracking-[0] relative block w-full pb-[15px] capitalize border-b-[1px] border-solid border-[#eee] max-[991px]:text-[14px]"
            >
              Account
              <div class="bb-heading-res">
                <i class="ri-arrow-down-s-line"></i>
              </div>
            </h4>
            <div
              class="bb-footer-links bb-footer-dropdown max-[991px]:mb-[35px]"
            >
              <ul class="align-items-center">
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/authentication/login"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Sign In</a
                  >
                </li>
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/authentication/signup"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Sign Up</a
                  >
                </li>
                <li
                  class="bb-footer-link leading-[1.5] flex items-center mb-[16px] max-[991px]:mb-[15px]"
                >
                  <a
                    routerLink="/"
                    class="transition-all duration-[0.3s] ease-in-out font-Poppins text-[14px] leading-[20px] text-[#686e7d] hover:text-primary mb-[0] inline-block break-all tracking-[0] font-normal"
                    >Become a Supplier</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="min-[992px]:w-[25%] max-[991px]:w-full w-full px-[12px] bb-footer-toggle bb-footer-cont-social"
        >
          <div class="bb-footer-contact mb-[30px]">
            <div class="bb-footer-widget">
              <h4
                class="bb-footer-heading leading-[1.2] text-[18px] font-bold mb-[20px] text-[#3d4750] tracking-[0] relative block w-full pb-[15px] capitalize border-b-[1px] border-solid border-[#eee] max-[991px]:text-[14px]"
              >
                Contact
                <div class="bb-heading-res">
                  <i class="ri-arrow-down-s-line"></i>
                </div>
              </h4>
              <div
                class="bb-footer-links bb-footer-dropdown max-[991px]:mb-[35px]"
              >
                <ul class="align-items-center">
                  <li
                    class="bb-footer-link bb-foo-location flex items-start max-[991px]:mb-[15px] mb-[16px]"
                  >
                    <span
                      class="mt-[5px] w-[25px] basis-[auto] grow-[0] shrink-[0]"
                    >
                      <mat-icon fontSet="material-icons-outlined"
                        >location_on
                      </mat-icon>
                    </span>
                    <p
                      class="mt-[2px] ml-[2px] text-[14px] text-[#686e7d] font-normal leading-[28px] tracking-[0.03rem]"
                    >
                      123 Street, City, Country
                    </p>
                  </li>
                  <li
                    class="bb-footer-link bb-foo-call flex items-start max-[991px]:mb-[15px] mb-[16px]"
                  >
                    <span class="w-[25px] basis-[auto] grow-[0] shrink-[0]">
                      <mat-icon fontSet="material-icons-outlined"
                        >perm_phone_msg</mat-icon
                      >
                    </span>
                    <a
                      href="tel:+84987654321"
                      class="mt-[2px] ml-[2px] transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] text-[#686e7d] inline-block relative break-all tracking-[0] font-normal max-[1399px]:text-[15px] max-[1199px]:text-[14px]"
                      >+84987654321</a
                    >
                  </li>
                  <li class="bb-footer-link bb-foo-mail flex">
                    <span class="w-[25px] basis-[auto] grow-[0] shrink-[0]">
                      <mat-icon>mail_outline</mat-icon>
                    </span>
                    <a
                      href="mailto:bonheur.wedding.1910&#64;gmail.com"
                      class="mt-[2px] ml-[2px] transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] text-[#686e7d] inline-block relative break-all tracking-[0] font-normal max-[1399px]:text-[15px] max-[1199px]:text-[14px]"
                      >bonheur.wedding.1910&#64;gmail.com</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="footer-bottom py-[10px] border-t-[1px] border-solid border-[#eee] max-[991px]:py-[15px]"
  >
    <div
      class="flex flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]"
    >
      <div class="flex flex-wrap w-full">
        <div
          class="bb-bottom-info w-full flex flex-wrap items-center justify-between max-[991px]:flex-col px-[12px]"
        >
          <div class="footer-copy max-[991px]:mb-[15px]">
            <div class="footer-bottom-copy max-[991px]:text-center">
              <div
                class="bb-copy text-[#686e7d] text-[13px] tracking-[1px] text-center font-normal leading-[2]"
              >
                Copyright ©
                <span
                  class="text-[#686e7d] text-[13px] tracking-[1px] text-center font-normal"
                  id="copyright_year"
                  >2024</span
                >
                <a
                  class="site-name transition-all duration-[0.3s] ease-in-out font-medium text-primary hover:text-[#3d4750] font-Poppins text-[15px] leading-[28px] tracking-[0.03rem]"
                  href="index.html"
                  >Bonheur</a
                >
                all rights reserved.
              </div>
            </div>
          </div>
          <div class="footer-bottom-right">
            <div class="footer-bottom-payment flex justify-center">
              <div class="payment-link">
                <img
                  src="assets/images/logos/payment.png"
                  alt="payment"
                  class="max-[360px]:w-full"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
